<link href="views/register/register.style.css" rel="stylesheet">

<md-content layout="row" ng-controller="RegisterController">

    <!-- START app introduction -->
    <section class="introduction" layout="column" layout-align="center center" flex-gt-sm="40" flex="100" hide-sm hide-xs>
        <h1>{{'REGISTER.WELCOME' | translate}}</h1>
        <p>
            {{'REGISTER.NO_MORE' | translate}} <br/>
            {{'REGISTER.FIND' | translate}}
        </p>
        <md-button class="md-accent md-raised">{{'REGISTER.MORE' | translate}}</md-button>

    </section>
    <!-- END app introduction -->

    <!-- START registration -->
    <section class="registration" layout="column" layout-padding flex="100" flex-gt-sm="60">

        <!-- START switch to login -->
        <div class="switch-to-login" layout="row" layout-align="end center">

            <span class="lang" ng-click="changeLanguage('de')">DE
                <img class="flag" src="../../resc/images/german_lang.svg.png" class="md-card-image" alt="german language">
            </span>

            <span class="lang spacer" ng-click="changeLanguage('en')">EN
                <img class="flag" src="../../resc/images/english_lang.svg.png" class="md-card-image" alt="english language">
            </span>


            <span>{{'REGISTER.ACCOUNT' | translate}}</span>
            <md-button href="#!/login" class="md-accent">{{'REGISTER.LOGIN' | translate}}</md-button>
        </div>
        <!-- END switch to login -->

        <!-- START registration form -->
        <md-progress-circular ng-show="!registerProgress" class="md-accent loading-animation" md-mode="indeterminate"></md-progress-circular></div>
        <div class="registration-form" layout="row" layout-align="center start" ng-show="registerProgress">

            <form  layout="column" flex-gt-xs="60" flex="100">

                <h2>{{'REGISTER.REGISTER_HERE' | translate}}</h2>


                <md-input-container layout="row">
                    <input type="email" aria-label="{{'REGISTER.MAIL' | translate}}" ng-model="email" placeholder="{{'REGISTER.MAIL' | translate}}"required>
                </md-input-container>
                <md-input-container layout="row">
                    <input type="password" aria-label="{{'REGISTER.PASSWORD' | translate}}" ng-model="password" placeholder="{{'REGISTER.PASSWORD' | translate}}" required>
                </md-input-container>
                <md-input-container layout="row">
                    <input type="text" aria-label="{{'REGISTER.FIRST_NAME' | translate}}" ng-model="firstname" placeholder="{{'REGISTER.FIRST_NAME' | translate}}" required>
                </md-input-container>
                <md-input-container layout="row">
                    <input type="text" aria-label="{{'REGISTER.SECOND_NAME' | translate}}" ng-model="secondname" placeholder="{{'REGISTER.SECOND_NAME' | translate}}" required>
                </md-input-container>
                <div layout="row" class="submit">
                    <md-button ng-disabled="!(email && password && firstname && secondname)" ng-click="register(firstname, secondname, email, password)" class="md-accent md-raised">{{'REGISTER.REGISTER' | translate}}</md-button>
                </div>
                <div layout-align="start center" ng-if="errorMessage" class="error-message">
                    <md-icon class="material-icons">report_problem</md-icon>
                    <span>{{errorMessage}}</span>
                </div>
            </form>
        </div>
        <!-- END registration form -->

    </section>
    <!-- END registration -->

</md-content>

