@import "../../stylesheets/main.scss";

.introduction {
  height: 100vh;
  background-image: url("../../../resc/images/register-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.registration {

  md-input-container{
    margin-top: 2.5rem;
  }

  .registration-form {
    margin-top: 8rem;
  }
  .error-message {
    margin-top: 2rem;
    color: #EF5350;
    height: 4rem;
  }
  md-icon {
    margin-right: .5rem;
    color: #EF5350;
  }

  .spacer {
    margin-right: 2rem;
  }

  .flag {
    height: 0.9rem;
    width: 1.3rem;
  }


}