@import "../../stylesheets/main";

md-toolbar.toolbar {

  height: 8rem;

  h2 {
    margin-left: 0;
  }

  .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100;

    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%;
  }
}

form {

  #edit {
    margin-left: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
  }

  #duration {
    margin-top: 3rem;
  }

  md-input-container, .mg-top-25  {
    margin-top: 2.5rem;

    &.after-chip {
      margin-top: 4rem;
  }

    .mg-top-4 {
      margin-top: 4rem;
    }

  }

  md-checkbox {
    margin-right: 4rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

}