<link href="views/create-study/create-study.style.css" rel="stylesheet">


<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="CreateStudyController as ctrl">

    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{ title }}
            </h2>

            <span flex></span>
        </div>
    </md-toolbar>
    <!-- END tool bar -->

    <!-- START create study form -->
    <md-content layout-padding flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START create study form -->
        <form name="createStudyForm" layout="column">

            <md-tabs md-dynamic-height md-border-bottom>

                <!-- START general tab -->
                <md-tab label="Allgemein">

                    <!-- START general information -->
                    <md-content>

                        <h2 class="md-headline">Allgemeine Informationen zu {{ study.name }}</h2>


                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="100">
                                <label>Titel</label>
                                <input type="text" required ng-model="study.name" aria-label="Description" placeholder="Titel" md-select-on-focus>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="100">
                                <label>Beschreibung</label>
                                <textarea required ng-model="study.description" md-maxlength="150" aria-label="Description" placeholder="Beschreibung" md-select-on-focus></textarea>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="30">
                                <input type="number" required aria-label="Dauer" ng-model="study.duration" placeholder="Dauer" md-select-on-focus>
                            </md-input-container>

                            <md-chips class="md-block" style="margin-top: 1px" flex-gt-xs="70" secondary-placeholder="z.B. Android" aria-label="Keywords" placeholder="Keywords"
                                      ng-model="study.tags"
                                      readonly="ctrl.readonly"
                                      md-removable="ctrl.removable">
                            </md-chips>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block">
                                <label>Studienbeginn</label>
                                <md-datepicker required ng-required ng-model="startDate"
                                               md-min-date="startDate"></md-datepicker>

                                <div ng-messages="createStudyForm.startDate.$error">
                                    <div ng-message="required">Bitte gebe den Studienbeginn so TT.MM.JJJJ an</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Studienbeginn</label>
                                <md-datepicker required ng-model="endDate" md-min-date="minEndDate"></md-datepicker>

                                <div ng-messages="createStudyForm.endDate.$error">
                                    <div ng-message="required">Bitte gebe das Studienende so TT.MM.JJJJ an</div>
                                </div>
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END general information -->

                    <!-- START add dates -->
                    <md-content>

                        <h2 class="md-headline">Termine hinzufügen</h2>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex="100" flex-gt-xs="33">
                                <label>Uhrzeit</label>
                                <input type="text" aria-label="Uhrzeit des Termins" ng-model="appointmentTime" placeholder="Uhrzeit" md-select-on-focus>
                            </md-input-container>

                            <md-input-container class="md-block" flex="100" flex-gt-xs="33">
                                <label>Puffer</label>
                                <input type="number" aria-label="Puffer zwischen zwei Terminen" ng-model="bufferTime" placeholder="Puffer" md-select-on-focus>
                            </md-input-container>

                            <md-input-container class="md-block"  flex="100" flex>
                                <label>Tag</label>
                                <md-datepicker ng-model="appointmentDate" md-min-date="startDate"></md-datepicker>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container>
                                <md-button ng-click="addAppointment(appointmentDate, appointmentTime, study.duration)" class="md-raised md-accent">Termin hinzufügen</md-button>
                            </md-input-container>

                        </div>

                        <div layout="row" layout-xs="column" layout-wrap>

                            <md-card ng-repeat="appointment in appointments" flex="100" flex-gt-xs="30" flex-gt-sm="20">
                                <md-card-header style="padding-bottom: 0" layout="row" layout-align="end center">
                                    <md-button ng-click="removeAppointment(item)" class="md-icon-button md-accent" aria-label="Favorite">
                                        <md-icon class="material-icons md-24 md-primary">close</md-icon>
                                    </md-button>
                                </md-card-header>
                                <md-card-content style="padding-top: 0" layou="row">
                                    <h3 style="margin-top: 0">{{ appointment.date | date:'dd.MM.yy'  }}</h3>
                                    <p><strong>Uhrzeit</strong> {{ appointment.time | date:'HH:mm' }}</p>
                                    <p><strong>Dauer</strong> {{ appointment.duration }} Minuten</p>
                                </md-card-content>
                            </md-card>

                        </div>

                    </md-content>
                    <!-- END add dates -->

                    <!-- START rewards -->
                    <md-content>

                        <h2 class="md-headline">Vergütung</h2>

                        <md-input-container class="md-block" layout-gt-xs="row">

                            <md-checkbox flex="100" flex-gt-xs="33" ng-model="study.rewards.money" aria-label="Geld">
                                Geld
                            </md-checkbox>

                            <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="study.rewards.voucher" aria-label="Amazon Gutschein">
                                Amazon Gutschein
                            </md-checkbox>

                            <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="study.rewards.hours" aria-label="Versuchspersonenstunden">
                                Versuchspersonenstunden
                            </md-checkbox>

                        </md-input-container>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" ng-if="study.rewards.money" flex="100" flex-gt-xs="33">
                                <label>Geld</label>
                                <input type="number" ng-model="test1" placeholder="Betrag">
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="study.rewards.voucher" flex="100" flex-gt-xs="33">
                                <label>Amazon Gutschein</label>
                                <input type="number" ng-model="test2" placeholder="Betrag">
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="study.rewards.hours" flex="100" flex-gt-xs="33">
                                <label>Versuchspersonenstunden</label>
                                <input type="number" ng-model="test3" placeholder="Stunden">
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END rewards -->

                </md-tab>
                <!-- END general tab -->

                <!-- START requirements tab -->
                <md-tab label="Voraussetzungen">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Voraussetzungen von {{ study.name }}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <!-- START requirements tab -->

            </md-tabs>

            <!-- START submit -->
            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button ng-click="createStudy(study.name, study.description, startDate, endDate, study.duration, '10€')"
                               ng-disabled="createStudyForm.$invalid" class="md-accent md-raised">Studie erstellen
                    </md-button>
                    <md-button ng-click="cancelStudy()">Abbrechen</md-button>
                </md-input-container>

            </div>
            <!-- END submit -->

            <!-- START Invalid form -->
            <div layout="row" layout-xs="column" ng-if="createStudyForm.$invalid">
                <p>Bitte fülle alle Pflichtfelder aus</p>
            </div>
            <!-- END Invalid form -->

        </form>
        <!-- END create study form -->


    </md-content>
    <!-- END create study form -->
</section>
