<link href="views/create-study/create-study.style.css" rel="stylesheet">


<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="CreateStudyController as ctrl">

    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{ title }}
            </h2>

            <span flex></span>
        </div>
    </md-toolbar>
    <!-- END tool bar -->

    <!-- START create study form -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START create study form -->
        <form name="createStudyForm" layout="column">

            <md-tabs md-dynamic-height md-border-bottom>

                <!-- START general tab -->
                <md-tab label="Allgemein">

                    <!-- START general information -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">Allgemeine Informationen zu {{ study.name }}</h2>


                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="100">
                                <label>Titel</label>
                                <input type="text" required ng-model="study.name" name="studyTitle"
                                       aria-label="Description" placeholder="Titel" md-select-on-focus>

                                <div ng-messages="createStudyForm.studyTitle.$error">
                                    <div ng-message="required">Bitte gebe einen aussagekräftigen Titel an</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="100">
                                <label>Beschreibung</label>
                                <textarea required ng-model="study.description" name="description" md-maxlength="150"
                                          aria-label="Description" placeholder="Beschreibung"
                                          md-select-on-focus></textarea>

                                <div ng-messages="createStudyForm.description.$error">
                                    <div ng-message="required">Bitte gebe eine aussagekräftige Beschreibung an</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="30">
                                <input type="number" required aria-label="Dauer" ng-model="study.duration"
                                       name="duration" placeholder="Dauer" md-select-on-focus>

                                <div ng-messages="createStudyForm.duration.$error">
                                    <div ng-message="required">Bitte gebe die Dauer eines Studientermins an</div>
                                </div>
                            </md-input-container>

                            <md-chips class="md-block" style="margin-top: 1px" flex-gt-xs="70"
                                      secondary-placeholder="z.B. Android" aria-label="Keywords" placeholder="Keywords"
                                      ng-model="study.tags"
                                      readonly="ctrl.readonly"
                                      md-removable="ctrl.removable">
                            </md-chips>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container flex="100" flex-xs="100">
                                <label>Betreuer</label>
                                <md-select name="advisor" ng-model="advisor" required>
                                    <md-option value="hansHuber">Hans Huber</md-option>
                                    <md-option value="horstGurkner">Horst Gurkner</md-option>
                                    <md-option value="Fred Sack">Fred Sack</md-option>
                                </md-select>
                                <div class="errors" ng-messages="createStudyForm.advisor.$error">
                                    <div ng-message="required">Bitte gebe einen Betreuer an</div>
                                </div>
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END general information -->

                    <!-- START rewards -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">Vergütung</h2>

                        <md-input-container class="md-block" layout-gt-xs="row">

                            <md-checkbox flex="100" flex-gt-xs="33" ng-model="study.rewards.money" aria-label="Geld">
                                Geld
                            </md-checkbox>

                            <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="study.rewards.voucher"
                                         aria-label="Amazon Gutschein">
                                Amazon Gutschein
                            </md-checkbox>

                            <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="study.rewards.hours"
                                         aria-label="Versuchspersonenstunden">
                                Versuchspersonenstunden
                            </md-checkbox>

                        </md-input-container>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" ng-if="study.rewards.money" flex="100" flex-gt-xs="33">
                                <label>Geld</label>
                                <input required type="number" ng-model="test1" name="money" placeholder="Betrag">

                                <div ng-messages="createStudyForm.money.$error">
                                    <div ng-message="required">Bitte gebe einen Geldbetrag an</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="study.rewards.voucher" flex="100"
                                                flex-gt-xs="33">
                                <label>Amazon Gutschein</label>
                                <input required type="number" ng-model="test2" name="voucher" placeholder="Betrag">

                                <div ng-messages="createStudyForm.voucher.$error">
                                    <div ng-message="required">Bitte gebe die Gutscheinhöhe an</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="study.rewards.hours" flex="100" flex-gt-xs="33">
                                <label>Versuchspersonenstunden</label>
                                <input required type="number" ng-model="test3" name="hours" placeholder="Stunden">

                                <div ng-messages="createStudyForm.hours.$error">
                                    <div ng-message="required">Bitte gebe die Versuchspersonenstunden an</div>
                                </div>
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END rewards -->

                    <!-- START add dates -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">Termine hinzufügen</h2>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block">
                                <label>Studienbeginn</label>
                                <md-datepicker required ng-model="startDate"
                                               md-min-date="startDate"></md-datepicker>

                                <div ng-messages="createStudyForm.startDate.$error">
                                    <div ng-message="required">Bitte gebe den Studienbeginn so TT.MM.JJJJ an</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Studienende</label>
                                <md-datepicker required ng-model="endDate" md-min-date="minEndDate"></md-datepicker>

                                <div ng-messages="createStudyForm.endDate.$error">
                                    <div ng-message="required">Bitte gebe das Studienende so TT.MM.JJJJ an</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row" layout-wrap>

                            <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                <label>Uhrzeit</label>
                                <input type="text" aria-label="Uhrzeit des Termins" ng-model="appointmentTime"
                                       placeholder="Uhrzeit" md-select-on-focus>
                            </md-input-container>

                            <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                <label>Puffer</label>
                                <input type="number" aria-label="Puffer zwischen zwei Terminen" ng-model="bufferTime"
                                       placeholder="Puffer" md-select-on-focus>
                            </md-input-container>

                            <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                <label>Tag</label>
                                <md-datepicker ng-model="appointmentDate" md-min-date="startDate"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex="100" style="margin-top:0px">
                                <md-button ng-click="addAppointment(appointmentDate, appointmentTime, study.duration)"
                                           class="md-raised md-accent">Termin hinzufügen
                                </md-button>
                            </md-input-container>

                        </div>

                        <div layout="row" layout-xs="column" layout-wrap>

                            <md-card ng-repeat="appointment in appointments" flex="100" flex-gt-xs="30" flex-gt-sm="20">
                                <md-card-header style="padding-bottom: 0" layout="row" layout-align="end center">
                                    <md-button ng-click="removeAppointment(item)" class="md-icon-button md-accent"
                                               aria-label="Favorite">
                                        <md-icon class="material-icons md-24 md-primary">close</md-icon>
                                    </md-button>
                                </md-card-header>
                                <md-card-content style="padding-top: 0" layou="row">
                                    <h3 style="margin-top: 0">{{ appointment.date | date:'dd.MM.yy' }}</h3>
                                    <p><strong>Uhrzeit</strong> {{ appointment.time | date:'HH:mm' }}</p>
                                    <p><strong>Dauer</strong> {{ appointment.duration }} Minuten</p>
                                </md-card-content>
                            </md-card>

                        </div>

                    </md-content>
                    <!-- END add dates -->

                </md-tab>
                <!-- END general tab -->

                <!-- START requirements tab -->
                <md-tab label="Voraussetzungen" class="md-padding">
                    <md-content class="md-padding">
                        <h2 class="md-headline">Voraussetzungen für {{ study.name }}</h2>
                        <p>Bitte gebe die Voraussetzungen an, die Bewerber erfüllen müssen, um an deiner Studie
                            teilnehmen zu können. Basierend auf diesen Kriterien zeigen wir deine Studie nur geeigneten
                            Bewerbern.</p>
                    </md-content>

                    <!-- START general requirements -->
                    <md-content class="md-padding">
                        <h2 class="md-headline">Allgemeine Voraussetzungen</h2>

                        <div layout-gt-xs="row" layout-wrap>

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">
                                <md-checkbox ng-model="preferencesStudent">
                                    Student
                                </md-checkbox>
                                </div>

                                <md-input-container flex-gt-xs="75" flex="100" ng-if="preferencesStudent">
                                    <label>Studiengang</label>
                                    <md-select name="student" ng-model="preferences.student">
                                        <md-option value="1" selected>Mathematik</md-option>
                                        <md-option value="2">Informatik</md-option>
                                        <md-option value="3">Industrial Design</md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">
                                    <md-checkbox ng-model="preferencesAge">
                                        Alter
                                    </md-checkbox>
                                </div>

                                <md-slider-container ng-if="preferencesAge" flex="75" flex-xs="100">

                                    <span>Jahre</span>
                                    <md-slider flex min="0" max="50" ng-model="preferences.age" aria-label="Alter" id="age-slider">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="preferences.age" aria-label="Alter" aria-controls="age-slider">
                                    </md-input-container>

                                </md-slider-container>

                            </div>

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">
                                    <md-checkbox ng-model="preferencesNationality">
                                        Nationalität
                                    </md-checkbox>
                                </div>

                                <md-input-container flex-gt-xs="75" flex="100" ng-if="preferencesNationality">
                                    <label>Nationalität</label>
                                    <md-select name="nationality" ng-model="preferences.nationality">
                                        <md-option value="1" selected>Deutschland</md-option>
                                        <md-option value="2">United States of America</md-option>
                                        <md-option value="3">Zimbabwe</md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                        </div>

                    </md-content>
                    <!-- END general requirements -->

                    <!-- START  physical requirements -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">Körperliche Voraussetzungen</h2>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesGender" aria-label="Sehhilfe" ng-true-value="'Ja'" ng-false-value="'Nein'" >
                                        Geschlecht: {{ preferencesGender }}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesGender">

                                    <div style="margin-top: 10px">
                                        <md-checkbox ng-model="preferences.female">
                                            Weiblich
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.male">
                                            Männlich
                                        </md-checkbox>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div layout-gt-xs="row" class="mg-top-16">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">
                                    <md-checkbox ng-model="preferencesHeight">
                                        Körpergröße
                                    </md-checkbox>
                                </div>

                                <md-slider-container ng-if="preferencesHeight" flex="75" flex-xs="100">
                                    <span>in cm</span>
                                    <md-slider flex min="0" max="220" ng-model="preferences.height" aria-label="Körpergröße" id="heihgt-slider">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="preferences.height" aria-label="Körpergröße" aria-controls="height-slider">
                                    </md-input-container>
                                </md-slider-container>

                            </div>

                        </div>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesVisualAid" aria-label="Sehhilfe" ng-true-value="'Ja'" ng-false-value="'Nein'" >
                                        Sehhilfe: {{ preferencesVisualAid }}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesVisualAid">

                                    <div style="margin-top: 10px">
                                        <md-checkbox ng-model="preferences.glasses">
                                            Brille
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.contacts">
                                            Kontaktlinsen
                                        </md-checkbox>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesHand" aria-label="Händigkeit" ng-true-value="'Ja'" ng-false-value="'Nein'" >
                                        Händigkeit: {{ preferencesHand }}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesHand">

                                    <div style="margin-top: 10px">
                                        <md-checkbox ng-model="preferences.righty">
                                            Rechtshänder
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.lefty">
                                            Linkshänder
                                        </md-checkbox>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </md-content>
                    <!-- END physical requirements -->

                </md-tab>
                <!-- START requirements tab -->

            </md-tabs>

            <!-- START submit -->
            <md-content class="md-padding">

                <div layout="row" layout-xs="column">

                    <md-input-container>
                        <md-button
                                ng-click="createStudy(study.name, study.description, startDate, endDate, study.duration, '10€')"
                                ng-disabled="createStudyForm.$invalid" class="md-accent md-raised">Studie erstellen
                        </md-button>
                        <md-button ng-click="cancelStudy()">Abbrechen</md-button>
                    </md-input-container>

                </div>

                <div layout="row" layout-xs="column" ng-if="createStudyForm.$invalid">
                    <p>Bitte fülle alle Pflichtfelder aus</p>
                </div>

            </md-content>
            <!-- END submit -->

        </form>
        <!-- END create study form -->


    </md-content>
    <!-- END create study form -->
</section>
