<link href="views/create-study/create-study.style.css" rel="stylesheet">


<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="CreateStudyController as ctrl" ng-init="initialize()">

    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="20" flex-offset-md="10">
            <h2 class="md-display-3 image-header">
                <i class="material-icons">bubble_chart</i>
                {{ title }}
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <!-- END tool bar -->

    <!-- START create study form -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START create study form -->
        <form name="createStudyForm" layout="column">

            <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">

                <!-- START general tab -->
                <md-tab label="{{'CREATE_STUDY.GENERAL_TAB_LABEL' | translate}}">

                    <!-- START general information -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.HEADLINE_GENERAL_INFORMATION' | translate}}<span
                                md-colors="{color: 'accent'}">{{ study.name }}</span>
                        </h2>


                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{'CREATE_STUDY.TITLE' | translate}}</label>
                                <input type="text"
                                       required ng-model="study.name"
                                       name="studyTitle"
                                       aria-label="{{'CREATE_STUDY.TITLE_ARIA_LABEL' | translate}}"
                                       placeholder="{{'CREATE_STUDY.TITLE_PLACEHOLDER' | translate}}"
                                       md-select-on-focus>
                                <div ng-messages="createStudyForm.studyTitle.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.TITLE_MESSAGE' | translate}}</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{'CREATE_STUDY.DESCRIPTION' | translate}}</label>
                                <textarea required ng-model="study.description"
                                          name="description" md-maxlength="600"
                                          aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}"
                                          placeholder="{{'CREATE_STUDY.DESCRIPTION_PLACEHOLDER' | translate}}"
                                          md-select-on-focus>
                                </textarea>
                                <div ng-messages="createStudyForm.description.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.DESCRIPTION_MESSAGE' | translate}}</div>
                                    <div ng-message="md-maxlength">{{'CREATE_STUDY.DESCRIPTION_LENGTH' | translate}}</div>

                                </div>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs="30">
                                <input type="number"
                                       required aria-label="{{'CREATE_STUDY.DURATION_ARIA_LABEL' | translate}}"
                                       ng-model="study.duration"
                                       name="duration"
                                       placeholder="{{'CREATE_STUDY.DURATION_PLACEHOLDER' | translate}}"
                                       min="10"
                                       md-select-on-focus>

                                <div ng-messages="createStudyForm.duration.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.DURATION_MESSAGE' | translate}}</div>
                                    <div ng-message="min">{{'CREATE_STUDY.DURATION_MIN' | translate}}</div>
                                </div>
                            </md-input-container>

                            <md-chips class="md-block negative-mg-on-mobile"
                                      style="margin-top: 1px"
                                      flex-gt-xs="70"
                                      secondary-placeholder="{{'CREATE_STUDY.KEYWORDS_ARIA_LABEL' | translate}}"
                                      aria-label="{{'CREATE_STUDY.KEYWORDS_ARIA_LABEL' | translate}}"
                                      placeholder="{{'CREATE_STUDY.KEYWORDS_PLACEHOLDER' | translate}}"
                                      ng-model="study.keywords"
                                      readonly="ctrl.readonly"
                                      md-removable="ctrl.removable">
                            </md-chips>
                        </div>

                        <div layout-gt-xs="row" class="mg-top-16-on-desktop">

                            <md-chips class="md-block mg-top-16-on-mobile negative-mg-on-desktop"
                                      style="margin-top: 1px"
                                      flex-gt-xs
                                      name="studyLocations"
                                      secondary-placeholder="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}"
                                      aria-label="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}"
                                      placeholder="{{'CREATE_STUDY.LOCATION_PLACEHOLDER' | translate}}"
                                      ng-model="study.locations"
                                      readonly="ctrl.readonly"
                                      md-removable="ctrl.removable">
                            </md-chips>

                        </div>

                        <div layout-gt-xs="row" layout="column" style="margin-top: 1rem;">

                            <md-input-container flex="100">
                                <label>{{'CREATE_STUDY.ADVISER' | translate}}</label>
                                <md-select name="adviser"
                                           ng-model="study.adviser"
                                           aria-label="{{'CREATE_STUDY.ADVISER_ARIA_LABEL' | translate}}"
                                           required>
                                    <md-option ng-repeat="advisor in advisors" value="{{advisor}}">
                                        {{advisor.firstName}} {{advisor.secondName}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="createStudyForm.adviser.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.ADVISER_MESSAGE' | translate}}</div>
                                </div>
                                <md-tooltip>{{'CREATE_STUDY.ADVISER_NOT_LISTED' | translate}}</md-tooltip>
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END general information -->

                    <!-- START rewards -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.HEADLINE_REWARDS' | translate}}</h2>
                        <md-input-container class="md-block" layout-gt-xs="row">
                            <md-checkbox flex="100"
                                         flex-gt-xs="33"
                                         ng-model="money"
                                         aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                                {{'CREATE_STUDY.MONEY' | translate}}
                            </md-checkbox>
                            <md-checkbox flex-xs="100"
                                         flex-gt-xs="33" ng-model="voucher"
                                         aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                                {{'CREATE_STUDY.VOUCHER' | translate}}
                            </md-checkbox>

                            <md-checkbox flex-xs="100"
                                         flex-gt-xs="33"
                                         ng-model="hours"
                                         aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                                {{'CREATE_STUDY.HOURS' | translate}}
                            </md-checkbox>
                        </md-input-container>

                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" ng-if="money" flex="100" flex-gt-xs="33">
                                <label>{{'CREATE_STUDY.AMOUNT' | translate}}</label>
                                <input required
                                       type="number"
                                       ng-model="study.money" name="money"
                                       placeholder="{{'CREATE_STUDY.AMOUNT_PLACEHOLDER' | translate}}">
                                <div ng-messages="createStudyForm.money.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.AMOUNT_MESSAGE' | translate}}</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="voucher" flex="100"
                                                flex-gt-xs="33">
                                <label>{{'CREATE_STUDY.VOUCHER_AMOUNT' | translate}}</label>
                                <input required
                                       type="number"
                                       ng-model="study.voucher" name="voucher"
                                       placeholder="{{'CREATE_STUDY.VOUCHER_AMOUNT_PLACEHOLDER' | translate}}">
                                <div ng-messages="createStudyForm.voucher.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.VOUCHER_AMOUNT_MESSAGE' | translate}}</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="hours" flex="100" flex-gt-xs="33">
                                <label>{{'CREATE_STUDY.HOURS_AMOUNT' | translate}}</label>
                                <input required
                                       type="number"
                                       ng-model="study.hours"
                                       name="hours"
                                       placeholder="{{'CREATE_STUDY.HOURS_AMOUNT_PLACEHOLDER' | translate}}">
                                <div ng-messages="createStudyForm.hours.$error">
                                    <div ng-message="required">{{'CREATE_STUDY.HOURS_AMOUNT_MESSAGE' | translate}}</div>
                                </div>
                            </md-input-container>

                        </div>

                    </md-content>
                    <!-- END rewards -->

                    <!-- START add dates -->
                    <md-content class="md-padding">

                            <h2 class="md-headline">{{'CREATE_STUDY.ADD_DATES' | translate}}</h2>

                            <div layout-gt-xs="row" layout-wrap>

                                <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                    <label>{{'CREATE_STUDY.APPOINTMENT_TIME' | translate}}</label>
                                    <input type="text" required name="appointmentTime"
                                           aria-label="{{'CREATE_STUDY.APPOINTMENT_TIME_ARIA_LABEL' | translate}}"
                                           ng-model="appointment.time"
                                           placeholder="{{'CREATE_STUDY.APPOINTMENT_TIME_PLACEHOLDER' | translate}}"
                                           md-select-on-focus>
                                    <div ng-messages="createStudyForm.appointmentTime.$error">
                                        <div ng-message="required">{{'CREATE_STUDY.APPOINTMENT_TIME_MESSAGE' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                    <label>{{'CREATE_STUDY.APPOINTMENT_BUFFER' | translate}}</label>
                                    <input type="number"
                                           aria-label="{{'CREATE_STUDY.APPOINTMENT_BUFFER_ARIA_LABEL' | translate}}"
                                           ng-model="appointment.bufferTime"
                                           placeholder="{{'CREATE_STUDY.APPOINTMENT_BUFFER_PLACEHOLDER' | translate}}"
                                           md-select-on-focus>
                                </md-input-container>

                                <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                    <label>{{'CREATE_STUDY.APPOINTMENT_DAY' | translate}}</label>
                                    <md-datepicker required
                                                   name="appointmentDate"
                                                   ng-model="appointment.date"
                                                   md-min-date="study.startDate">
                                    </md-datepicker>
                                    <div ng-messages="createStudyForm.appointmentDate.$error">
                                        <div ng-message="required">{{'CREATE_STUDY.APPOINTMENT_DAY_MESSAGE' | translate}}</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout-gt-xs="row" layout-wrap>

                                <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">

                                    <label>{{'CREATE_STUDY.APPOINTMENT_LOCATION' | translate}}</label>
                                    <md-select required
                                               name="appointmentLocation"
                                               ng-model="appointment.location"
                                               aria-label="{{'CREATE_STUDY.APPOINTMENT_LOCATION' | translate}}">
                                        <md-option ng-repeat="location in study.locations" value="{{ location }}">{{
                                            location }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="createStudyForm.appointmentLocation.$error">
                                        <div ng-message="required">{{'CREATE_STUDY.APPOINTMENT_LOCATION_MESSAGE' | translate}}</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block margin-btm-0 mg-top-on-mobile" flex="100"
                                                    flex-gt-xs="33">
                                    <label>{{'CREATE_STUDY.APPOINTMENT_PARTICIPANTS' | translate}}</label>
                                    <input type="number"
                                           aria-label="{{'CREATE_STUDY.APPOINTMENT_PARTICIPANTS' | translate}}"
                                           ng-model="appointment.participants"
                                           placeholder="{{'CREATE_STUDY.APPOINTMENT_PARTICIPANTS' | translate}}"
                                           md-select-on-focus>
                                </md-input-container>

                                <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                                    <label>{{'CREATE_STUDY.APPOINTMENT_DEADLINE' | translate}}</label>
                                    <input required
                                           min="1"
                                           name="appointmentDeadline"
                                           type="number"
                                           ng-model="appointment.deadline">
                                    <div ng-messages="createStudyForm.appointmentDeadline.$error">
                                        <div ng-message="required">{{'CREATE_STUDY.APPOINTMENT_DEADLINE_MESSAGE' | translate}}</div>
                                        <div ng-message="min">{{'CREATE_STUDY.APPOINTMENT_DEADLINE_MIN' | translate}}</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex="100" style="margin-top:0">
                                    <md-button ng-click="addAppointment()"
                                               ng-disabled="createStudyForm.$invalid"
                                               class="md-raised md-accent">
                                        {{'CREATE_STUDY.ADD_APPOINTMENT_BUTTON' | translate}}
                                    </md-button>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-xs="column" layout-wrap>

                                <md-card ng-repeat="appointment in appointments" flex="100" flex-gt-xs="30">
                                    <md-card-header style>
                                        <md-card-avatar>
                                            <md-icon class="material-icons">today</md-icon>
                                        </md-card-avatar>
                                        <md-card-header-text>
                                            <span class="md-title">{{ appointment.date | date:'dd.MM.yy' }}</span>
                                            <span class="md-subhead">{{ appointment.time }}</span>
                                        </md-card-header-text>
                                        <md-button ng-click="removeAppointment(appointment)"
                                                   class="md-icon-button md-accent"
                                                   aria-label="{{'CREATE_STUDY.APPOINTMENT_CARD_DELETE_ARIA_LABEL' | translate}}">
                                            <md-icon class="material-icons md-24 md-primary">close</md-icon>
                                        </md-button>
                                    </md-card-header>
                                    <md-card-content layout="column">
                                        <span ng-if="appointment.location" class="align-items">
                                            <i class="material-icons" md-colors="{color: 'accent'}">room</i>
                                            {{ appointment.location }}
                                        </span>
                                        <span class="align-items">
                                            <i class="material-icons" md-colors="{color: 'accent'}">timelapse</i>
                                            {{ study.duration }} {{'STUDY_DETAILS.MINUTES' | translate}}
                                        </span>
                                        <span class="align-items">
                                            <i class="material-icons" md-colors="{color: 'accent'}">group</i>
                                            {{ appointment.participants }} {{'CREATE_STUDY.APPOINTMENT_MAX_PARTICIPANTS' | translate}}
                                        </span>
                                        <span class="align-items">
                                            <i class="material-icons" md-colors="{color: 'accent'}">person_add</i>
                                            {{ appointment.deadline }}
                                        </span>
                                    </md-card-content>
                                </md-card>

                            </div>

                    </md-content>
                    <!-- END add dates -->

                    <!-- START switch to requirements tab -->
                    <md-content class="md-padding">

                        <div layout="row" layout-xs="column" layout-wrap>

                            <md-button class="md-primary md-raised" ng-click="selectTab()">
                                {{'CREATE_STUDY.SET_PREFERENCES' | translate}}
                                <md-tooltip>{{'CREATE_STUDY.SET_PREFERENCES_2' | translate}}</md-tooltip>
                            </md-button>

                        </div>

                    </md-content>
                    <!-- END switch to requirements tab -->

                </md-tab>
                <!-- END general tab -->

                <!-- START requirements tab -->
                <md-tab label="{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}}" class="md-padding">

                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_FOR_STUDY' | translate}} <span
                                md-colors="{color: 'accent'}">{{ study.name }}</span></h2>
                        <p>{{'CREATE_STUDY.REQUIREMENTS_DESCRIPTION' | translate}}</p>

                    </md-content>

                    <!-- START general requirements -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.GENERAL_REQUIREMENTS' | translate}}</h2>

                        <div layout-gt-xs="row" layout-wrap>

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesStudent"
                                               aria-label="{{'CREATE_STUDY.STUDENT_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.STUDENT' | translate}}
                                    </md-switch>

                                </div>

                                <md-chips ng-if="preferencesStudent === 'Ja' || preferencesStudent === 'Nein'" class="md-block mg-top-16-on-mobile"
                                          style="margin-top: 1px" flex-gt-xs="75"
                                          secondary-placeholder="{{'CREATE_STUDY.COURSE_OF_STUDY' | translate}}"
                                          aria-label="{{'CREATE_STUDY.COURSE_OF_STUDY' | translate}}"
                                          placeholder="{{'CREATE_STUDY.COURSE_OF_STUDY' | translate}}"
                                          name="studyProgram"
                                          ng-model="preferences.studyPrograms"
                                          readonly="ctrl.readonly"
                                          md-removable="ctrl.removable">
                                </md-chips>

                            </div>

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="35" flex="100">

                                    <md-switch ng-model="preferencesAge"
                                               aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.AGE' | translate}}
                                    </md-switch>

                                </div>

                                <md-slider-container ng-if="preferencesAge === 'Ja'" flex="65" flex-xs="100">

                                    <span>{{'CREATE_STUDY.YEARS' | translate}}</span>
                                    <md-slider flex
                                               min="0"
                                               max="50" ng-model="preferences.age"
                                               aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}"
                                               id="age-slider">
                                    </md-slider>

                                    <md-input-container>
                                        <input flex
                                               type="number"
                                               ng-model="preferences.age"
                                               aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}"
                                               aria-controls="age-slider">
                                    </md-input-container>

                                </md-slider-container>

                            </div>


                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesLanguage"
                                               aria-label="{{'CREATE_STUDY.LANGUAGE_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.LANGUAGE' | translate}}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesLanguage === 'Ja'">

                                    <div style="margin-top: 10px">

                                        <md-checkbox ng-model="preferences.english">
                                            {{'CREATE_STUDY.ENGLISH' | translate}}
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.german">
                                            {{'CREATE_STUDY.GERMAN' | translate}}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                    <!-- END general requirements -->

                    <!-- START  physical requirements -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.PHYSICAL_REQUIREMENTS' | translate}}</h2>

                        <div layout-gt-xs="row" class="mg-top-16-on-desktop">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="35" flex="100">

                                    <md-switch ng-model="preferencesHeight"
                                               aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.HEIGHT' | translate}}
                                    </md-switch>

                                </div>

                                <md-slider-container ng-if="preferencesHeight === 'Ja'" flex-gt-xs="65" flex="100">
                                    <span>in cm</span>
                                    <md-slider flex min="0"
                                               max="220"
                                               ng-model="preferences.height"
                                               aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}"
                                               id="height-slider">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex
                                               type="number"
                                               ng-model="preferences.height"
                                               aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}"
                                               aria-controls="height-slider">
                                    </md-input-container>
                                </md-slider-container>

                            </div>

                        </div>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesVisualAid"
                                               aria-label="{{'CREATE_STUDY.VISUAL_AID_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'" ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.VISUAL_AID' | translate}}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesVisualAid === 'Ja'">

                                    <div style="margin-top: 10px">

                                        <md-checkbox ng-model="preferences.glasses">
                                            {{'CREATE_STUDY.GLASSES' | translate}}
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.contacts">
                                            {{'CREATE_STUDY.CONTACTS' | translate}}
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.no_visual_aid">
                                            {{'CREATE_STUDY.NO_VISUAL_AID' | translate}}
                                        </md-checkbox>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesHand"
                                               aria-label="{{'CREATE_STUDY.HANDEDNESS_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.HANDEDNESS' | translate}}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesHand === 'Ja'">

                                    <div style="margin-top: 10px">

                                        <md-radio-group ng-model="preferences.handedness" layout-gt-xs="row">

                                            <md-radio-button value="righty">{{'CREATE_STUDY.RIGHTY' | translate}}
                                            </md-radio-button>
                                            <md-radio-button value="lefty">{{'CREATE_STUDY.LEFTY' | translate}}
                                            </md-radio-button>

                                        </md-radio-group>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </md-content>
                    <!-- END physical requirements -->

                    <!-- START technical requirements -->
                    <md-content class="md-padding">

                        <h2 class="md-headline">{{'CREATE_STUDY.TECHNICAL_REQUIREMENTS' | translate}}</h2>

                        <div layout-gt-xs="row">

                            <div layout-gt-xs="row" flex="100" layout-align="start center">

                                <div flex-gt-xs="25" flex="100">

                                    <md-switch ng-model="preferencesSmartphone"
                                               aria-label="{{'CREATE_STUDY.SMARTPHONE_ARIA_LABEL' | translate}}"
                                               ng-true-value="'Ja'"
                                               ng-false-value="'Nein'">
                                        {{'CREATE_STUDY.SMARTPHONE' | translate}}
                                    </md-switch>

                                </div>

                                <div flex-gt-xs="75" flex="100" ng-if="preferencesSmartphone === 'Ja'">

                                    <div style="margin-top: 10px">

                                        <md-checkbox ng-model="preferences.android">
                                            {{'CREATE_STUDY.ANDROID' | translate}}
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.ios">
                                            {{'CREATE_STUDY.IOS' | translate}}
                                        </md-checkbox>
                                        <md-checkbox ng-model="preferences.windows">
                                            {{'CREATE_STUDY.WINDOWS' | translate}}
                                        </md-checkbox>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </md-content>
                    <!-- END technical requirements -->

                    <md-content class="md-padding">
                        <div layout="row" layout-xs="column" layout-wrap>
                            <md-button class="md-primary md-raised" ng-click="selectTab()">
                                {{'CREATE_STUDY.SET_GENERAL_INFORMATION' | translate}}
                                <md-tooltip>{{'CREATE_STUDY.SET_GENERAL_INFORMATION_2' | translate}}</md-tooltip>
                            </md-button>
                        </div>
                    </md-content>

                </md-tab>
                <!-- END requirements tab -->

            </md-tabs>

            <!-- START submit -->
            <md-content class="md-padding">

                <div layout="row" layout-xs="column">

                    <md-input-container>
                        <md-button
                                ng-click="createStudy()"
                                ng-disabled="createStudyForm.$invalid" class="md-accent md-raised">
                            {{'CREATE_STUDY.CREATE_STUDY_BUTTON' | translate}}
                        </md-button>
                        <md-button ng-click="cancelStudy()">{{'CREATE_STUDY.CANCEL_STUDY_BUTTON' | translate}}
                        </md-button>
                    </md-input-container>

                </div>

                <div layout="row" layout-xs="column" ng-if="createStudyForm.$invalid">
                    <p>{{'CREATE_STUDY.REQUIRED_FIELDS' | translate}}</p>
                </div>

            </md-content>
            <!-- END submit -->

        </form>
        <!-- END create study form -->


    </md-content>
    <!-- END create study form -->
</section>
