<link href="/views/my-studies/my-studies.style.css" rel="stylesheet">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<md-content>
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{'NAVBAR.MY_STUDIES' | translate}}
            </h2>
        </div>
    </md-toolbar>

    <div layout-padding layout="column" flex-offset-gt-xs="20" flex-gt-xs="60" flex-xs="100">

        <div layout="row" layout-align="start center">

            <md-input-container flex-xs="100" flex-sm="50"  flex-gt-sm="30">
                <input type="text" ng-model="search" placeholder="Search" aria-label="Search">
            </md-input-container>

        </div>

        <div layout="column">
            <md-card ng-repeat="study in myStudies | filter:search">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ study.title }}</span>
                        <div layout-gt-sm="row" layout="column" layout-align="start start">
                            <span flex-gt-sm="25" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">date_range</i>{{study.startDate | date:'dd.MM.yy'}} - {{study.endDate | date:'dd.MM.yy'}}</span>
                            <span flex-gt-sm="20" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">timelapse</i>{{study.duration}} {{'STUDY_LIST.DURATION' | translate}}</span>
                            <span flex></span>
                            <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_money != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">attach_money</i>{{ study.reward.reward_money }}€</span>
                            <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_voucher != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">pages</i>{{ study.reward.reward_voucher }}€</span>
                            <span flex-sm="20" flex-gt-sm="15" ng-if="study.reward.reward_hours != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">access_time</i>{{ study.reward.reward_hours }} {{'STUDY_LIST.REWARD_HOURS' | translate}}</span>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{ study.description }}
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetails(study)">{{'STUDY_LIST.DETAILS' | translate}}</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </div>
</md-content>
