//Theme colors
$primary-color: #263238;
$light-color: #607D8B;
$accent-color: #00E5FF;

//Text colors
$primary-text-color: #212121;
$secondary-text-color: #9E9E9E;
$h1-color: $primary-color;
$h2-color: lighten($h1-color, 20%);
$h3-color: lighten($h1-color, 30%);
