<link href="views/create-study/create-study.style.css" rel="stylesheet">


<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="CreateStudyController as ctrl">

    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{ title }}
            </h2>

            <span flex></span>
        </div>
    </md-toolbar>
    <!-- END tool bar -->

    <!-- START create study form -->
    <md-content layout-padding flex-offset-gt-sm="20" flex-gt-sm="60" flex-offset-sm- flex="100">

        <form name="createStudyForm" layout="column">


            <h2 class="md-headline" ng-model="study.name">{{ study.name }}<i id="edit" class="material-icons">edit</i></h2>

            <!-- START Description -->
            <md-input-container>
                <textarea md-no-asterisk required ng-model="study.description" name="description"
                          md-maxlength="150"
                          aria-label="Description" placeholder="Beschreibung" md-select-on-focus></textarea>
                <div class="hint" hide-xs>Eine ausagekräftige Beschreibung deiner Studie hilft dir bei der
                    Suche nach Teilnehmern.
                </div>

            </md-input-container>
            <!-- END description -->

            <!-- START keywords -->
            <div class="mg-top-25">
                <md-chips secondary-placeholder="" placeholder="z.B. Android" name="tags" ng-model="study.tags"
                          readonly="ctrl.readonly"
                          md-removable="ctrl.removable">
                </md-chips>
                <div class="hint hint-chips">Mit ausagekräftigen Keywords können wir deine Studien genau den richtigen
                    Teilnehmern
                    anzeigen.
                </div>
            </div>
            <!-- END keywords -->

            <!-- START duration -->
            <md-input-container class="after-chip">
                <input type="number" required aria-label="Dauer" ng-model="study.duration" md-no-asterisk
                       name="duration" placeholder="Dauer" md-select-on-focus>
                <div class="hint" hide-xs>In Minuten = <span
                        style="color: #263238">{{ study.duration / 60 * 3 }} ECTS</span></div>
            </md-input-container>
            <!-- END duration -->


            <!-- START rewards -->
            <h2 class="md-headline">Vergütung</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="study.rewards.money" aria-label="Geld">
                    Geld
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="study.rewards.voucher" aria-label="Amazon Gutschein">
                    Amazon Gutschein
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="study.rewards.hours" aria-label="Versuchspersonenstunden">
                    Versuchspersonenstunden
                </md-checkbox>
            </md-input-container>
            <!-- END rewards -->

            <!-- START dates -->
            <h2 class="md-headline">Termine</h2>
            
            <div layout="row" layout-xs="column">
                <md-input-container flex-gt-xs="50" flex="100">
                    <label>Studienbeginn</label>
                    <md-datepicker ng-required ng-model="startDate" name="startDate" md-min-date="startDate"></md-datepicker>

                    <div ng-messages="createStudyForm.startDate.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">This date is required!</div>
                        <div ng-message="mindate">Date is too early!</div>
                    </div>
                </md-input-container>

                <md-input-container flex-gt-xs="50" flex="100">
                    <label>Studienbeginn</label>
                    <md-datepicker ng-required ng-model="endDate" name="endDate" md-min-date="minEndDate"></md-datepicker>

                    <div ng-messages="createStudyForm.endDate.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">This date is required!</div>
                        <div ng-message="mindate">Date is too early!</div>
                    </div>
                </md-input-container>
            </div>
            <!-- END dates -->

            <!-- START submit -->
            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button ng-click="createStudy(study.name, study.description, startDate, endDate)" class="md-accent md-raised">Studie erstellen</md-button>
                    <md-button ng-click="showCreateStudyToast()">Abbrechen</md-button>
                </md-input-container>

            </div>
            <!-- END submit -->


        </form>


    </md-content>
    <!-- END create study form -->
</section>
