@import "../../stylesheets/main";

.align-items {
  display: inline-flex;

  i {
    margin-right: .5rem;
  }
}

.participating {
  background-color: lightgreen;
}


h2 {
  i {
    font-size: xx-large !important;
  }
}

md-progress-circular {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto ;
}

.day-loading {
  margin-top: 0;
}

md-divider {
  margin-bottom: .5rem;
  margin-top: .5rem;
}



md-card {
  md-card-header {
    padding-bottom: 0;
  }

  md-card-content {

    md-progress-circular{
      margin: auto;
    }

    .card-button {
      margin: 0;
    }

    .card-button[disabled] {
      color: lightgreen;
    }

    .button-warn[disabled] {
      color: red !important;
    }

    span {
      margin-top: .5rem;
    }
  }

}

.pad {
  margin-top: 1rem;
}