@import "../../stylesheets/main";

.align-items {
  display: inline-flex;

  i {
    margin-right: .5rem;
  }
}

.md-button {
  i{
    margin-left: .5rem !important;
  }
}

.participating.confirmed{
  background-color: lightgreen;
}

.participating.completed{
  background-color: lightgreen;
}

.participating.absent{
  background-color: lightgrey;
}

.participating.pending {
  background-color: lightblue;
}

h2 {
  i {
    font-size: xx-large !important;
  }
}

md-progress-circular {
  margin: 7rem auto 4rem;
}

.day-loading {
  margin-top: 0;
}

md-divider {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

md-card {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  md-card-header {
    padding-bottom: 0;
  }

  md-card-content {

    md-list {
      padding: 0;

      md-list-item {
        padding-left: 0 !important;

        md-icon {
          margin: 0 !important;
          margin-right: 0.5rem !important;
        }

        div {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    md-progress-circular {
      margin: auto;
      margin-top: 0.5rem;
    }

  }

  md-card-action {
    md-progress-circular {
      margin: 0;
    }
  }

}

.pad {
  padding: 0 !important;
  margin: 0 !important;
}

.button-green:not([disabled]) {
   background-color: lightgreen !important;
 }

.button-green[disabled] {
  color: green !important;
}

.button-red[disabled] {
  color: red !important;
}


.study-details {
  margin-top: 1rem;
  *{
    padding-left: 0.1rem !important;
  }
}

.owner-loading {
  margin: 0 !important;
}

md-progress-linear {
  height: 1rem;
  margin: 0 .5rem !important;

  .md-container {
    background-color: cornflowerblue ;
    height: 1rem;
    border-radius: 10px;

    .md-bar {
      background-color: lightcoral;
      height: 1rem;
      border-radius: 10px;
    }
  }
}

.ng-hide.fade{
  opacity: 0;
}

.ng-hide-add.fade, .ng-hide-remove.fade {
  transition: all linear 500ms;
}

.margin-bot-5 {
  margin-bottom: .5rem;
}

.md-button.padding {
  padding: 0 4rem;
}