.hide {
  display: none; }

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.hint-chips {
  position: relative !important;
  bottom: -7px !important; }

.image-header {
  display: flex;
  align-items: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.nav li {
  float: left; }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }

.form-control {
  height: 2.5rem; }

.hide {
  display: none; }

.container {
  padding: 1.5em; }

.profile-card {
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 1.5em; }
  .profile-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-info {
  color: #212121;
  padding: .5em 1em 1.5em 1em;
  position: relative;
  text-align: start; }

.profile-info h2 {
  color: #4f6875;
  margin-bottom: 1rem; }

.profile-info span {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
  color: #9E9E9E; }

.align-items {
  display: inline-flex; }
  .align-items i {
    margin-right: .5rem; }

.md-button i {
  margin-left: .5rem !important; }

.participating.confirmed {
  background-color: lightgreen; }

.participating.completed {
  background-color: lightgreen; }

.participating.absent {
  background-color: lightgrey; }

.participating.pending {
  background-color: lightblue; }

h2 i {
  font-size: xx-large !important; }

md-progress-circular {
  margin: 7rem auto 4rem; }

.day-loading {
  margin-top: 0; }

md-divider {
  margin-bottom: .5rem;
  margin-top: .5rem; }

md-card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  md-card md-card-header {
    padding-bottom: 0; }
  md-card md-card-content md-list {
    padding: 0; }
    md-card md-card-content md-list md-list-item {
      padding-left: 0 !important; }
      md-card md-card-content md-list md-list-item md-icon {
        margin: 0 !important;
        margin-right: 0.5rem !important; }
      md-card md-card-content md-list md-list-item div {
        padding-left: 0 !important;
        padding-right: 0 !important; }
  md-card md-card-content md-progress-circular {
    margin: auto;
    margin-top: 0.5rem; }
  md-card md-card-action md-progress-circular {
    margin: 0; }

.pad {
  padding: 0 !important;
  margin: 0 !important; }

.button-green:not([disabled]) {
  background-color: lightgreen !important; }

.button-green[disabled] {
  color: green !important; }

.button-red[disabled] {
  color: red !important; }

.study-details {
  margin-top: 1rem; }
  .study-details * {
    padding-left: 0.1rem !important; }

.owner-loading {
  margin: 0 !important; }

md-progress-linear {
  height: 1rem;
  margin: 0 !important; }
  md-progress-linear .md-container {
    background-color: cornflowerblue;
    height: 1rem;
    border-radius: 10px; }
    md-progress-linear .md-container .md-bar {
      background-color: lightcoral;
      height: 1rem;
      border-radius: 10px; }

.ng-hide.fade {
  opacity: 0; }

.ng-hide-add.fade, .ng-hide-remove.fade {
  transition: all linear 500ms; }

.margin-bot-5 {
  margin-bottom: .5rem; }

.md-button.padding {
  padding: 0 4rem; }

/*# sourceMappingURL=study-details-view.style.css.map */
