<link rel="stylesheet" href="views/study-details-view/study-details-view.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsViewController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START edit study form -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START general information -->
        <md-content class="md-padding">

            <div layout-gt-xs="row">
                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}">
                    {{study.description}}
                </p>


            </div>

            <div layout-gt-xs="row">

                <!-- TODO KEYWORDS-->

            </div>

            <div layout-gt-xs="row">


                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}">
                    {{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}: {{study.locations_array.join(", ")}}
                </p>


            </div>

        </md-content>
        <!-- END general information -->

        <!-- START rewards -->
        <md-content class="md-padding">

            <h2 class="md-headline">{{'STUDY_DETAILS.CHOOSE_REWARD' | translate}}</h2>

            <md-radio-group class="md-block" layout-gt-xs="row" ng-model="chosenReward">

                <md-radio-button flex="100" flex-gt-xs="33" value="reward_money" ng-show="study.reward.reward_money"
                                 aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_money}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_MONEY' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_voucher"
                                 ng-show="study.reward.reward_voucher"
                                 aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_voucher}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_VOUCHER' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_hours" ng-show="study.reward.reward_hours"
                                 aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_hours}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_HOURS' | translate}}
                </md-radio-button>

            </md-radio-group>

        </md-content>
        <!-- END rewards -->

        <!-- START add dates -->
        <md-content class="md-padding">

            <div ng-repeat="day in datesGroupedByDay">

                <md-divider></md-divider>

                <h2 class="md-headline align-items"><i class="material-icons" md-colors="{color: 'accent'}">today</i>{{ day[0].startDate | date: 'fullDate'}}</h2>

                <div layout="row" layout-xs="column" layout-wrap>

                    <md-card ng-repeat="date in day" flex="100" flex-gt-xs="45" flex-gt-sm="30">
                        <md-card-header style>
                            <md-card-avatar>
                                <md-icon ng-show="date.status==('reserved' || 'finished')" class="material-icons">assignment_turned_in</md-icon>
                                <md-icon ng-show="date.status=='available'" class="material-icons">assignment</md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{ date.startDate | date:'HH:mm' }} -
                                {{ date.endDate | date: 'HH:mm'}}</span>
                                <span class="md-subhead">{{date.participants}} / {{date.maxParticipants}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="column">

                            <span class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">timelapse</i>{{ date.duration }} {{'STUDY_DETAILS.MINUTES' | translate}}</span>
                            <span class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">room</i>{{ date.location }} </span>
                            <md-divider ng-show="isOwner"></md-divider>
                            <md-progress-circular ng-show="date.isLoading"
                                                  class="md-accent" md-diameter="30px"
                                                  md-mode="indeterminate"></md-progress-circular>
                            <div ng-show="isOwner && !date.isLoading" layout="column" layout-align="start start">
                                <div ng-repeat="participation in date.participations" class="align-items" layout="row" layout-align="start center">
                                    <span><i class="material-icons" md-colors="{color: 'accent'}">person</i></span>
                                    <span>{{ participation.name }}</span>
                                    <span flex></span>
                                    <span ng-show="participation.status == 'reserved'"><md-button ng-click="confirmParticipation(participation)" class="md-icon-button md-accent"
                                               aria-label="{{'STUDY_DETAILS.CONFIRM_PARTICIPANT' | translate}}">
                                        <md-icon class="material-icons md-24 md-primary">check</md-icon>
                                    </md-button></span>
                                    <span ng-show="participation.status == 'reserved'"><md-button ng-click="declineParticipation(participation)" class="md-icon-button md-accent"
                                               aria-label="{{'STUDY_DETAILS.DECLINE_PARTICIPANT' | translate}}">
                                        <md-icon class="material-icons md-24 md-primary">close</md-icon>
                                    </md-button></span>
                                </div>
                            </div>
                        </md-card-content>

                        <md-card-action>
                            <md-button class="md-accent" ng-click="participate(date)" ng-hide="isOwner"
                                       ng-disabled="date.status != 'available'">
                                {{'STUDY_DETAILS.PARTICIPATE' |
                                translate}}
                            </md-button>
                        </md-card-action>
                    </md-card>

                </div>
            </div>
        </md-content>
        <!-- END add dates -->

        <md-content class="md-padding">
            <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}} <span
                    md-colors="{color: 'accent'}">{{ study.name }}</span></h2>
        </md-content>

        <!-- START requirements -->
        <md-content class="md-padding">

        </md-content>
        <!-- END requirements -->


        <!-- START button -->
        <md-content class="md-padding" ng-show="isOwner">

            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button
                            ng-click="editStudy()"
                            class="md-accent md-raised">
                        {{'STUDY_DETAILS.EDIT_STUDY' | translate}}
                    </md-button>
                </md-input-container>

            </div>

        </md-content>
        <!-- END button -->


    </md-content>
    <!-- END create study form -->

</section>
