<link rel="stylesheet" href="views/study-details-view/study-details-view.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsViewController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="20" flex-offset-md="10">
            <h2 class="md-display-3 image-header">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <md-progress-circular ng-hide="studyIsReady" class="md-accent" md-mode="indeterminate">
    </md-progress-circular>
    <!-- START view study form -->
    <md-content ng-show="studyIsReady" flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START general information -->
        <md-content class="md-padding">

            <div layout-gt-xs="row">
                <span class="md-block" flex-gt-xs="100"
                      aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}">
                    {{study.description}}
                </span>


            </div>

            <div class="study-details" layout-gt-xs="row" layout-align="start center" layout-wrap>

                <md-subheader ng-show="study.keywords_array.length" flex="25">
                    {{'STUDY_DETAILS.KEYWORDS' | translate}}:
                </md-subheader>
                <span flex="75" ng-show="study.keywords_array.length"
                      aria-label="{{'STUDY_DETAILS.KEYWORDS' | translate}}">
                    {{study.keywords_array.join(" | ")}}
                </span>

                <md-subheader flex="25">
                    {{'CREATE_STUDY.LOCATION' | translate}}:
                </md-subheader>
                <span flex="75" aria-label="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}">
                    {{study.locations_array.join(" | ")}}
                </span>

                <md-subheader flex="25">
                    {{'STUDY_DETAILS.BY' | translate}}:
                </md-subheader>
                <span ng-show="ownerReady" flex="75" aria-label="{{'STUDY_DETAILS.BY' | translate}}">
                    {{owner}}
                </span>
                <md-progress-circular flex="75" ng-hide="ownerReady" class="md-accent owner-loading"
                                      md-mode="indeterminate" md-diameter="20">
                </md-progress-circular>

                <md-subheader flex="25">
                    {{'STUDY_DETAILS.SUPERVISOR' | translate}}:
                </md-subheader>
                <span ng-show="advisorReady" flex="75"
                      aria-label="{{'STUDY_DETAILS.SUPERVISOR' | translate}}">
                    {{advisor}}
                </span>
                <md-progress-circular flex="75" ng-hide="advisorReady || !isOwner" class="md-accent owner-loading"
                                      md-mode="indeterminate" md-diameter="20">
                </md-progress-circular>

                <md-subheader ng-show="(isOwner || isAdvisor)" flex="25">
                    {{'STUDY_DETAILS.PARTICIPANTS' | translate}}:
                </md-subheader>
                <span ng-show="(isOwner || isAdvisor)" flex="75" aria-label="{{'STUDY_DETAILS.PARTICIPANTS' | translate}}">
                    {{totalParticipants}}
                </span>



                <md-subheader ng-show="(isOwner || isAdvisor) && (femaleParticipants + maleParticipants)" flex="25"
                              class="fade">
                    {{'STUDY_DETAILS.GENDER_DISTRIBUTION' | translate}}:
                </md-subheader>
                <span flex=75 layout-align="start center" layout="row" class="fade"
                      ng-show="(isOwner || isAdvisor) && (femaleParticipants + maleParticipants)">
                    <span>{{femaleParticipants}} ({{Math.round((femaleParticipants / (femaleParticipants + maleParticipants)) * 100)}}%)   &#9792;</span>
                    <md-progress-linear value="{{(femaleParticipants / (femaleParticipants + maleParticipants)) * 100}}"
                                        flex aria-label="{{'STUDY_DETAILS.GENDER_DISTRIBUTION' | translate}}">
                        {{totalParticipants}}
                    </md-progress-linear>
                    <span>&#9794;   {{maleParticipants}} ({{Math.round((maleParticipants / (femaleParticipants + maleParticipants)) * 100)}}%)</span>
                </span>

                <md-subheader ng-show="isAdmin" flex="25">
                {{'STUDY_DETAILS.VIEW_AS' | translate}}:
            </md-subheader>
                <span ng-show="isAdmin" layout="row" layout-align="start center" flex="75" aria-label="{{'STUDY_DETAILS.VIEW_AS' | translate}}">
                    {{'STUDY_DETAILS.PARTICIPANT' |translate}}
                    <md-switch class="md-primary padding" ng-model="isOwner">

                    </md-switch>
                    {{'STUDY_DETAILS.CREATOR' |translate}}
                </span>
            </div>


            </div>
        </md-content>
        <!-- END general information -->



        <div class="md-padding" layout="row" layout-align="start center" ng-show="isAdvisor">
            <div hide-xs flex>
                <md-divider></md-divider>
            </div>
            <md-button flex-xs="100" class="md-raised md-accent padding" ng-click="unlock()" ng-hide="study.approved">
                {{'STUDY_DETAILS.UNLOCK' |translate}}
                <md-tooltip md-delay="500">{{'STUDY_DETAILS.UNLOCK_MOUSEOVER' |translate}}</md-tooltip>
            </md-button>
            <md-button flex-xs="100" class="md-primary padding" ng-click="relock()" ng-show="study.approved">
                {{'STUDY_DETAILS.UNLOCKED' |translate}}
                <md-tooltip md-delay="500">{{'STUDY_DETAILS.RELOCK' |translate}}</md-tooltip>
            </md-button>
        </div>

        <md-divider ng-hide="isAdvisor || (!study.approved && !isOwner)"></md-divider>

        <!-- START rewards -->
        <md-content class="md-padding" ng-hide="!appointments.length || (!isOwner && !study.approved)">


            <h2 class="md-headline">{{'STUDY_DETAILS.CHOOSE_REWARD' | translate}}</h2>

            <md-radio-group class="md-block" layout-gt-xs="row" ng-model="chosenReward" ng-change="updateReward()"
                            ng-disabled="alreadyParticipated || isOwner">

                <md-radio-button flex="100" flex-gt-xs="33" value="reward_money"
                                 ng-show="study.reward.reward_money"
                                 aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_money}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_MONEY' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_voucher"
                                 ng-show="study.reward.reward_voucher"
                                 aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_voucher}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_VOUCHER' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_hours"
                                 ng-show="study.reward.reward_hours && isStudent"
                                 aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_hours}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_HOURS' | translate}}
                </md-radio-button>

            </md-radio-group>

        </md-content>
        <!-- END rewards -->

        <div layout="row" layout-align="start center">
            <md-button class="md-subhead button-red" ng-hide="study.approved" disabled="true">
                {{'STUDY_DETAILS.LOCKED' |translate}}
            </md-button>
            <md-button class="md-subhead button-green" ng-hide="!study.approved || !isOwner" disabled="true">
                {{'STUDY_DETAILS.UNLOCKED' |translate}}
            </md-button>
            <div flex>
                <md-divider></md-divider>
            </div>
            <md-button class="md-accent" ng-click="help()">
                <div layout="row" layout-align="center center">
                    <span hide-xs>{{'STUDY_DETAILS.MOUSEOVER_HELP_1' |translate}}</span>
                    <i class="material-icons md-24 md-primary">help_outline</i>
                </div>
            </md-button>
        </div>

        <!-- START dates -->

        <md-content class="md-padding" ng-hide="appointments.length">
            <p>{{'STUDY_DETAILS.ONLINE_ONLY' | translate}}</p>
        </md-content>

        <md-content class="md-padding" ng-show="appointments.length">


            <md-progress-circular ng-hide="datesAreReady || (!study.approved && !isOwner)" class="md-accent" md-mode="indeterminate">
            </md-progress-circular>


            <div ng-repeat="day in datesGroupedByDay" ng-hide="!study.approved && !isOwner">


                <h2 class="md-headline align-items">
                    <i class="material-icons" md-colors="{color: 'accent'}">today</i>
                    {{ day[0].startDate | date: 'dd.MM.yyyy'}}
                    <md-button ng-click="toggleDay(day)" class="md-icon-button md-accent" ng-show="day.show">
                        <md-icon class="material-icons md-24 md-primary">keyboard_arrow_down</md-icon>
                    </md-button>
                    <md-button ng-click="toggleDay(day)" class="md-icon-button md-accent" ng-hide="day.show">
                        <md-icon class="material-icons md-24 md-primary">keyboard_arrow_left</md-icon>
                    </md-button>
                </h2>

                <div layout="row" layout-xs="column" layout-wrap ng-show="day.show">

                    <md-card ng-repeat="date in day" flex="100" flex-gt-xs="{{flexGtXs}}" flex-gt-md="{{flexGtMd}}"
                             flex-gt-lg="{{flexGtLg}}"
                             ng-class="[{'participating': date.participating}, myParticipation.status]">
                        <md-card-header style>
                            <md-card-avatar>
                                <md-icon ng-show="date.participating"
                                         class="material-icons">assignment_turned_in
                                </md-icon>
                                <md-icon ng-hide="date.participating" class="material-icons">assignment</md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{ date.startDate | date:'HH:mm' }} -
                                {{ date.endDate | date: 'HH:mm'}}</span>
                                <span class="md-subhead">{{date.participants}} / {{date.maxParticipants}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="column">

                            <span class="align-items margin-bot-5"><i class="material-icons"
                                                                      md-colors="{color: 'accent'}">timelapse</i>{{ date.duration }} {{'STUDY_DETAILS.MINUTES' | translate}}</span>
                            <span class="align-items margin-bot-5"><i class="material-icons"
                                                                      md-colors="{color: 'accent'}">room</i>{{ date.location }} </span>
                            <span class="align-items margin-bot-5"><i class="material-icons"
                                                                      md-colors="{color: 'accent'}">  <md-tooltip>Play Music</md-tooltip>
person_add</i>{{'STUDY_DETAILS.UNTIL' | translate}} {{date.deadlineDate | date: 'dd.MM.yyyy, HH:mm'}}</span>
                            <md-divider ng-show="isOwner"></md-divider>

                            <!-- start participant list -->
                            <md-list flex ng-show="isOwner">
                                <md-subheader ng-hide="(date.participations.length)">
                                    {{'STUDY_DETAILS.NO_PARTICIPANTS' | translate}}
                                </md-subheader>
                                <md-list-item ng-repeat="participation in date.participations" layout="start center"
                                              ng-click="showParticipantDetails(participation, $event)">

                                    <md-icon class="material-icons">person</md-icon>
                                    <span>{{participation.name}}</span>
                                    <span ng-hide="date.status == 'finished'" class="md-secondary">
                                        <md-button ng-click="updateParticipationStatus(participation, 'confirmed')"
                                                   class="card-button md-raised md-accent"
                                                   ng-show="participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.CONFIRM_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.CONFIRM_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-green"
                                                   ng-show="participation.status == 'confirmed'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button ng-click="updateParticipationStatus(participation, 'declined')"
                                                   class="md-warn card-button"
                                                   ng-hide="participation.status == 'declined' || participation.status == 'confirmed'"
                                                   aria-label="{{'STUDY_DETAILS.DECLINE_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.DECLINE_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-red"
                                                   ng-show="participation.status == 'declined'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}
                                        </md-button>
                                    </span>
                                    <span ng-hide="date.status != 'finished'" class="md-secondary">
                                        <md-button ng-click="updateParticipationStatus(participation, 'completed')"
                                                   class="card-button md-raised md-accent"
                                                   ng-show="participation.status == 'confirmed' || participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_HERE' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-green" disabled
                                                   ng-show="participation.status == 'completed'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_HERE' | translate}}
                                        </md-button>
                                        <md-button ng-click="updateParticipationStatus(participation, 'absent')"
                                                   class="md-warn card-button"
                                                   ng-show="participation.status == 'confirmed' || participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-red"
                                                   ng-show="participation.status == 'absent'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}
                                        </md-button>
                                    </span>

                                </md-list-item>
                            </md-list>
                            <!-- end participant list -->
                        </md-card-content>

                        <md-card-action ng-hide="isOwner" layout="row" layout-align="start center" layout-wrap>
                            <md-button class="button-red" disabled="true"
                                       ng-show="(myParticipation.status == 'pending') && date.participating"
                                       aria-label="{{'STUDY_DETAILS.NOT_YET_CONFIRMED' | translate}}">
                                {{'STUDY_DETAILS.NOT_YET_CONFIRMED' | translate}}
                            </md-button>
                            <md-button class="button-red" disabled="true"
                                       ng-show="(myParticipation.status == 'absent') && date.participating"
                                       aria-label="{{'STUDY_DETAILS.ABSENT' | translate}}">
                                {{'STUDY_DETAILS.ABSENT' | translate}}
                            </md-button>
                            <md-button class="button-red" disabled="true"
                                       ng-show="(myParticipation.status == 'declined') && date.participating"
                                       aria-label="{{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}">
                                {{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}
                            </md-button>
                            <md-button class="button-green" disabled="true"
                                       ng-show="(myParticipation.status == 'confirmed') && date.participating"
                                       aria-label="{{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}">
                                {{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}
                            </md-button>
                            <md-button class="button-green" disabled="true"
                                       ng-show="(myParticipation.status == 'completed') && date.participating"
                                       aria-label="{{'STUDY_DETAILS.COMPLETED_PARTICIPANT' | translate}}">
                                {{'STUDY_DETAILS.COMPLETED_PARTICIPANT' | translate}}
                            </md-button>
                            <md-button class="md-accent" ng-click="participate(date)"
                                       ng-disabled="waitingForParticipation"
                                       ng-hide="date.participating || alreadyParticipated || (date.status != 'available') || isParticipating || !study.approved">
                                {{'STUDY_DETAILS.PARTICIPATE' |
                                translate}}
                            </md-button>
                            <md-button class="md-warn" ng-click="withdrawParticipation(date)"
                                       ng-disabled="waitingForParticipation"
                                       ng-show="date.participating && !alreadyParticipated">
                                {{'STUDY_DETAILS.WITHDRAW_PARTICIPATION' |
                                translate}}
                            </md-button>
                            <md-progress-circular class="md-accent" ng-show="date.waiting"
                                                  md-diameter="25"></md-progress-circular>
                        </md-card-action>
                    </md-card>

                </div>
            </div>
        </md-content>
        <!-- END dates -->


        <!-- START requirements -->

        <md-content class="md-padding"
                    ng-show="(study.approved || isOwner) && (study.minimum_age || study.minimum_height || smartphoneArray.length ||
                    visualAidArray.length || handedness || languageArray.length || student)">
            <md-divider></md-divider>

            <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}} <span
                    md-colors="{color: 'accent'}">{{ study.name }}</span></h2>

            <div class="study-details" layout-gt-xs="row" layout-align="center center" layout-wrap>

                <md-subheader flex="25" ng-show="study.minimum_age">
                    {{'CREATE_STUDY.AGE' | translate}}:
                </md-subheader>
                <span ng-show="study.minimum_age" flex="75" aria-label="{{'CREATE_STUDY.AGE' | translate}}">
                    {{study.minimum_age}} {{'CREATE_STUDY.YEARS' | translate}}
                </span>

                <md-subheader flex="25" ng-show="study.minimum_height">
                    {{'CREATE_STUDY.HEIGHT' | translate}}:
                </md-subheader>
                <span ng-show="study.minimum_height" flex="75" aria-label="{{'CREATE_STUDY.HEIGHT' | translate}}">
                    {{study.minimum_height}} cm
                </span>

                <md-subheader flex="25" ng-show="smartphoneArray.length">
                    {{'CREATE_STUDY.SMARTPHONE' | translate}}:
                </md-subheader>
                <span ng-show="smartphoneArray.length" flex="75" aria-label="{{'CREATE_STUDY.SMARTPHONE' | translate}}">
                    {{smartphoneArray.join(" | ")}}
                </span>

                <md-subheader flex="25" ng-show="visualAidArray.length">
                    {{'CREATE_STUDY.VISUAL_AID' | translate}}:
                </md-subheader>
                <span ng-show="visualAidArray.length" flex="75" aria-label="{{'CREATE_STUDY.VISUAL_AID' | translate}}">
                        {{visualAidArray.join(" | ")}}
                </span>

                <md-subheader flex="25" ng-show="handedness">
                    {{'CREATE_STUDY.HANDEDNESS' | translate}}:
                </md-subheader>
                <span ng-show="handedness" flex="75" aria-label="{{'CREATE_STUDY.HANDEDNESS' | translate}}">
                    {{handedness}}
                </span>

                <md-subheader flex="25" ng-show="languageArray.length">
                    {{'CREATE_STUDY.LANGUAGE' | translate}}:
                </md-subheader>
                <span ng-show="languageArray.length" flex="75" aria-label="{{'CREATE_STUDY.LANGUAGE' | translate}}">
                    {{languageArray.join(" | ")}}
                </span>

                <md-subheader flex="25" ng-show="student">
                    {{'CREATE_STUDY.STUDENT' | translate}}:
                </md-subheader>
                <span ng-show="student" flex="75" aria-label="{{'CREATE_STUDY.STUDENT' | translate}}">
                    {{student}}
                </span>

            </div>
        </md-content>
        <!-- END requirements -->

        <md-content class="md-padding" ng-show="showMailForm">
            <div>
                <md-divider></md-divider>
                <form name="contactForm">
                    <div layout-gt-xs="column">
                        <md-input-container layout="row" class="md-block" flex>
                            <input type="text"
                                   required ng-model="subjectString"
                                   name="subject"
                                   aria-label="{{'STUDY_DETAILS.SUBJECT' | translate}}"
                                   placeholder="{{'STUDY_DETAILS.SUBJECT' | translate}}">
                        </md-input-container>
                        <md-input-container class="md-block" flex>

                        <textarea required ng-model="bodyString"
                                  name="body" md-maxlength="10000"
                                  aria-label="{{'STUDY_DETAILS.TEXT' | translate}}"
                                  placeholder="{{'STUDY_DETAILS.TEXT' | translate}}">

                        </textarea>
                        </md-input-container>
                        <md-input-container layout="row" flex layout-align="end start">


                            <md-button ng-click="clearContactForm()">{{'STUDY_DETAILS.CANCEL' | translate}}</md-button>
                            <md-button
                                    ng-click="sendMailToParticipants()"
                                    ng-disabled="contactForm.$invalid" class="md-accent md-raised">
                                {{'STUDY_DETAILS.SEND' |
                                translate}}
                            </md-button>
                        </md-input-container>
                    </div>
                </form>
            </div>

        </md-content>

        <!-- START buttons -->
        <md-content class="md-padding">

            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button ng-show="isOwner"
                               ng-click="editStudy()"
                               class="md-accent md-raised">
                        {{'STUDY_DETAILS.EDIT_STUDY' | translate}}
                    </md-button>
                    <md-button ng-show="isOwner"
                               ng-click="showContactForm()"
                               class="md-accent md-raised">
                        {{'STUDY_DETAILS.CONTACT_PARTICIPANTS' | translate}}
                    </md-button>
                    <md-button ng-show="!isOwner"
                               ng-click="showContactForm()"
                               class="md-accent md-raised">
                        {{'STUDY_DETAILS.CONTACT_CREATOR' | translate}}
                    </md-button>
                </md-input-container>


            </div>

        </md-content>
        <!-- END buttons -->

    </md-content>
    <!-- END view study form -->

</section>
