@import "../../stylesheets/main";

.align-items {
  display: inline-flex;

  i {
    margin-right: .5rem;
  }
}

md-divider {
    margin-bottom: 1rem;
}

md-card {
  span {
    margin-top: .5rem;
  }
}