<link rel="stylesheet" href="views/study-details-view/study-details-view.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsViewController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <md-progress-circular ng-show="studyIsLoading" class="md-accent" md-mode="indeterminate">
    </md-progress-circular>
    <!-- START view study form -->
    <md-content ng-hide="studyIsLoading" flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <!-- START general information -->
        <md-content class="md-padding">

            <div layout-gt-xs="row">
                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}">
                    {{study.description}}
                </p>


            </div>

            <div layout-gt-xs="row">


                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'STUDY_DETAILS.KEYWORDS' | translate}}">
                    {{'STUDY_DETAILS.KEYWORDS' | translate}}: {{study.keywords_array.join(" | ")}}
                </p>


            </div>

            <div layout-gt-xs="row">


                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}">
                    {{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}: {{study.locations_array.join(" | ")}}
                </p>


            </div>
            <div layout-gt-xs="row">


                <p class="md-block" flex-gt-xs="100"
                   aria-label="{{'STUDY_DETAILS.BY' | translate}}">
                    {{'STUDY_DETAILS.BY' | translate}} {{owner}}
                </p>


            </div>
        </md-content>
        <!-- END general information -->

        <!-- START rewards -->
        <md-content class="md-padding" ng-hide="isOwner">

            <h2 class="md-headline">{{'STUDY_DETAILS.CHOOSE_REWARD' | translate}}</h2>

            <md-radio-group class="md-block" layout-gt-xs="row" ng-model="chosenReward">

                <md-radio-button flex="100" flex-gt-xs="33" value="reward_money" ng-show="study.reward.reward_money"
                                 aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_money}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_MONEY' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_voucher"
                                 ng-show="study.reward.reward_voucher"
                                 aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_voucher}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_VOUCHER' | translate}}
                </md-radio-button>

                <md-radio-button flex-xs="100" flex-gt-xs="33" value="reward_hours" ng-show="study.reward.reward_hours"
                                 aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                    {{study.reward.reward_hours}}
                    {{'STUDY_DETAILS.CHOOSE_REWARD_HOURS' | translate}}
                </md-radio-button>

            </md-radio-group>

        </md-content>
        <!-- END rewards -->

        <!-- START add dates -->


        <md-content class="md-padding">

            <div ng-repeat="day in datesGroupedByDay">

                <md-divider></md-divider>

                <h2 class="md-headline align-items">
                    <i class="material-icons" md-colors="{color: 'accent'}">today</i>
                    {{ day[0].startDate | date: 'fullDate'}}
                    <md-button ng-click="toggleDay(day)" class="md-icon-button md-accent" ng-show="day.show">
                        <md-icon class="material-icons md-24 md-primary">keyboard_arrow_down</md-icon>
                    </md-button>
                    <md-button ng-click="toggleDay(day)" class="md-icon-button md-accent" ng-hide="day.show">
                        <md-icon class="material-icons md-24 md-primary">keyboard_arrow_left</md-icon>
                    </md-button>
                </h2>

                <div layout="row" layout-xs="column" layout-wrap ng-show="day.show">

                    <md-card ng-repeat="date in day" flex="100" flex-gt-xs="{{flexGtXs}}" flex-gt-sm="{{flexGtSm}}"
                             flex-gt-lg="{{flexGtLg}}" ng-class="[{'participating': date.participating}, date.status]">
                        <md-card-header style>
                            <md-card-avatar>
                                <md-icon ng-show="date.participating"
                                         class="material-icons">assignment_turned_in
                                </md-icon>
                                <md-icon ng-hide="date.participating" class="material-icons">assignment</md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{ date.startDate | date:'HH:mm' }} -
                                {{ date.endDate | date: 'HH:mm'}}</span>
                                <span class="md-subhead">{{date.participants}} / {{date.maxParticipants}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="column">

                            <span class="align-items"><i class="material-icons"
                                                         md-colors="{color: 'accent'}">timelapse</i>{{ date.duration }} {{'STUDY_DETAILS.MINUTES' | translate}}</span>
                            <span class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">room</i>{{ date.location }} </span>
                            <md-divider ng-show="isOwner"></md-divider>
                            <md-progress-circular ng-show="date.isLoading"
                                                  class="md-accent" md-diameter="30px"
                                                  md-mode="indeterminate"></md-progress-circular>

                            <!-- start participant list -->
                            <md-list flex>
                                <md-subheader ng-hide="(date.participations.length) || date.isLoading || !isOwner">{{'STUDY_DETAILS.NO_PARTICIPANTS' | translate}}</md-subheader>
                                <md-list-item ng-repeat="participation in date.participations" layout="start center"
                                              ng-click="showParticipantDetails(participation, $event)">

                                    <md-icon class="material-icons">assignment_turned_in</md-icon>
                                    <span> {{participation.name}}</span>
                                    <span ng-hide="date.status == 'finished'" class="md-secondary">
                                        <md-button ng-click="updateParticipationStatus(participation, 'confirmed')"
                                                   class="card-button md-raised md-accent"
                                                   ng-show="participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.CONFIRM_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.CONFIRM_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-green"
                                                   ng-show="participation.status == 'confirmed'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.CONFIRMED_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button ng-click="declineParticipation(participation)"
                                                   class="md-warn card-button"
                                                   ng-hide="participation.status == 'declined'"
                                                   aria-label="{{'STUDY_DETAILS.DECLINE_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.DECLINE_PARTICIPANT' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-red"
                                                   ng-show="participation.status == 'declined'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}">
                                            {{'STUDY_DETAILS.DECLINED_PARTICIPANT' | translate}}
                                        </md-button>
                                    </span>
                                    <span ng-hide="date.status != 'finished'" class="md-secondary">
                                        <md-button ng-click="updateParticipationStatus(participation, 'completed')"
                                                   class="card-button md-raised md-accent"
                                                   ng-show="participation.status == 'confirmed' || participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_HERE' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-green" disabled
                                                   ng-show="participation.status == 'completed'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_HERE' | translate}}
                                        </md-button>
                                        <md-button ng-click="updateParticipationStatus(participation, 'absent')"
                                                   class="md-warn card-button"
                                                   ng-show="participation.status == 'confirmed' || participation.status == 'pending'"
                                                   aria-label="{{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}
                                        </md-button>
                                        <md-button class="card-button button-red"
                                                   ng-show="participation.status == 'absent'"
                                                   disabled="true"
                                                   aria-label="{{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}">
                                            {{'STUDY_DETAILS.WAS_NOT_HERE' | translate}}
                                        </md-button>
                                    </span>

                                </md-list-item>
                            </md-list>
                            <!-- end participant list -->
                        </md-card-content>

                        <md-card-action ng-hide="isOwner">
                            <md-button class="md-accent" ng-click="participate(date)"
                                       ng-disabled="waitingForParticipation"
                                       ng-hide="date.participating || alreadyParticipated || (date.status != 'available') || isParticipating">
                                {{'STUDY_DETAILS.PARTICIPATE' |
                                translate}}
                            </md-button>
                            <md-button class="md-warn" ng-click="withdrawParticipation(date)"
                                       ng-disabled="waitingForParticipation"
                                       ng-show="date.participating && !alreadyParticipated">
                                {{'STUDY_DETAILS.WITHDRAW_PARTICIPATION' |
                                translate}}
                            </md-button>
                        </md-card-action>
                    </md-card>

                </div>
            </div>
        </md-content>
        <!-- END add dates -->

        <md-content class="md-padding">
            <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}} <span
                    md-colors="{color: 'accent'}">{{ study.name }}</span></h2>
        </md-content>

        <!-- START requirements -->
        <md-content class="md-padding">

        </md-content>
        <!-- END requirements -->


        <!-- START button -->
        <md-content class="md-padding" ng-show="isOwner">

            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button
                            ng-click="editStudy()"
                            class="md-accent md-raised">
                        {{'STUDY_DETAILS.EDIT_STUDY' | translate}}
                    </md-button>
                </md-input-container>

            </div>

        </md-content>
        <!-- END button -->


    </md-content>
    <!-- END view study form -->

</section>
