<link href="components/study-list/study-list.style.css" rel="stylesheet">

<!-- START tool bar -->
<md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center" layout-padding >
    <div class="md-toolbar-tools" flex-offset-gt-sm="15">
        <h2 class="md-display-3">
            <i class="material-icons">bubble_chart</i>
            {{'STUDY_LIST.TITLE' | translate}}
        </h2>

        <span flex></span>
    </div>
    <md-button ng-click="showCreateStudyPrompt($event)" class="create-study-fab md-fab md-fab-bottom-right" aria-label="{{'STUDY_LIST.CREATE' | translate}}">
        <md-icon class="material-icons">add_new</md-icon>
    </md-button>
</md-toolbar>
<!-- END tool bar -->

<!-- START study list -->
<md-content layout-padding layout="column" flex-offset-gt-md="20" flex-offset-md="10" flex-gt-md="60" flex-md="80" flex>

    <div layout="row" layout-align="start center">

        <md-input-container flex-xs="100" flex-sm="50"  flex-gt-sm="30">
            <input type="text" ng-model="search" placeholder="{{'STUDY_LIST.SEARCH' | translate}}" aria-label="{{'STUDY_LIST.SEARCH' | translate}}">
        </md-input-container>

    </div>

    <div layout="column">
        <md-card ng-repeat="study in studies | filter:search">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ study.title }}</span>
                    <div layout-gt-sm="row" layout="column" layout-align="start start">
                        <span flex-gt-sm="25" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">date_range</i>{{study.startDate | date:'dd.MM.yy'}} - {{study.endDate | date:'dd.MM.yy'}}</span>
                        <span flex-gt-sm="20" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">timelapse</i>{{study.duration}} {{'STUDY_LIST.DURATION' | translate}}</span>
                        <span flex></span>
                        <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_money != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">attach_money</i>{{ study.reward.reward_money }}€</span>
                        <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_voucher != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">pages</i>{{ study.reward.reward_voucher }}€</span>
                        <span flex-sm="20" flex-gt-sm="15" ng-if="study.reward.reward_hours != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">access_time</i>{{ study.reward.reward_hours }} {{'STUDY_LIST.REWARD_HOURS' | translate}}</span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{ study.description }}
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="showParticipationDialog(study)">{{'STUDY_LIST.PARTICIPATE' | translate}}</md-button>
                <md-button ng-click="showDetails(study)">{{'STUDY_LIST.DETAILS' | translate}}</md-button>
            </md-card-actions>
        </md-card>
    </div>

</md-content>
<!-- END study list -->
