@import "../../stylesheets/main";
@import "../../services/toast-service/toast-service.style";

md-card {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

md-toolbar.toolbar {

  height: 8rem;

  h2 {
    margin-left: 0;
  }

  .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100;

    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%;

    @media screen and (max-width: 600px) {
      right: 10%;
    }
  }
}

.align-items {
  display: inline-flex;

  i {
    margin-right: .5rem;
  }
}

.my-study {
  background-color: #FF6347;
}

.advised-study {
  background-color: #FFEBCD;
}

.participated-study-not-approved {
  background-color:	#87CEFA;
}

.participated-study-approved {
  background-color:	#90EE90;
}

.stuy-not-approved{
  opacity : 0.9;
}

.advised-study-needs-approval{
  background-color:	#ffff00;
}

.participated-study-finished{
  background-color:	#90EE90;
}

.participated-study-not-finished {
  background-color: #8c8c8c;
}

.study-is-over {
  opacity : 0.5;
}

.option {
  margin-left: 2em;
  margin-right: 1em;
}

.sort {
  color: #8c8c8c;
  margin-bottom: 2.5em;
}

.title-box {
  margin-bottom: 1em;
}

.box-title {
  display: inline-block;
  float: left;
  vertical-align: top;
}

.info-box {
  display: inline;
  float: right;
  vertical-align: top;
  font-weight: bold;
}


.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.custom-pointer {
  cursor: pointer;
}


.align-items {
  display: inline-flex;
}


.grey-out{
  opacity : 0.5;
}


.loading-animation {
  position:fixed;
  left : 50%;
  top : 50%;
  width:100%;
  height:100%;
  background-position:center;
  z-index:10000000;
}



