@import "../../stylesheets/main";
@import "../../services/toast-service/toast-service.style";

md-card {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

md-toolbar.toolbar {

  height: 8rem;

  h2 {
    margin-left: 0;
  }

  .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100;

    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%;

    @media screen and (max-width: 600px) {
      right: 10%;
    }
  }
}

.align-items {
  display: inline-flex;

  i {
    margin-right: .5rem;
  }
}

.my-study {
  background-color: #FF6347;
}

.advised-study {
  background-color: #FFEBCD;
}

.participated-study-not-approved {
  background-color:	#87CEFA;
}

.participated-study-approved {
  background-color:	#90EE90;
}

.option {
  margin-left: 2em;
  margin-right: 1em;
}

.sort {
  color: #8c8c8c;
  margin-bottom: 2.5em;
}



.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.custom-pointer {
  cursor: pointer;
}

md-card-title-text {

  div {
    margin-top: 1rem;
  }
}

