<link href="components/study-list/study-list.style.css" rel="stylesheet">

<!-- START tool bar -->
<md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center" layout-padding>
    <div class="md-toolbar-tools" flex-offset-gt-sm="15">
        <h2 class="md-display-3">
            <i class="material-icons">bubble_chart</i>
            {{'STUDY_LIST.TITLE' | translate}}
        </h2>

        <span flex></span>
    </div>
    <md-button ng-click="showCreateStudyPrompt($event)" class="create-study-fab md-fab md-fab-bottom-right" aria-label="{{'STUDY_LIST.CREATE' | translate}}">
        <md-icon class="material-icons">add_new</md-icon>
        <md-tooltip>{{'STUDY_LIST.TOOLTIP_NEW' | translate}}</md-tooltip>
    </md-button>
</md-toolbar>
<!-- END tool bar -->

<!-- START study list -->
<md-content layout-padding layout="column" flex-offset-gt-md="20" flex-offset-md="10" flex-gt-md="60" flex-md="80" flex>




    <h2 class="md-button align-items" ng-click="toggle()" ng-show="(studyIsReLoading || !studyIsLoading)">
        {{'STUDY_LIST.SEARCH_OPTIONS' | translate}}
        <md-button class="md-icon-button md-accent" ng-show="show">
            <md-icon class="material-icons md-12 md-primary">keyboard_arrow_down</md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent" ng-hide="show">
            <md-icon class="material-icons md-12 md-primary">keyboard_arrow_left</md-icon>
        </md-button>
    </h2>
    <div layout="row" ng-show="(studyIsReLoading || !studyIsLoading) && show" layout-align="start center">




        <md-input-container flex-xs="100" flex-sm="50"  flex-gt-sm="30" >
            <input type="text" ng-model="search" placeholder="{{'STUDY_LIST.SEARCH' | translate}}" aria-label="{{'STUDY_LIST.SEARCH' | translate}}">
        </md-input-container>


        <md-input-container class="sort" layout="row" flex-gt-sm="100" >
            <div class="option">{{'STUDY_LIST.SORT_BY' | translate}}</div>
            <md-radio-group ng-model="sort_by" ng-change="dynamicOrderFunction()" layout="column" layout-xs="column">
                <md-radio-button value="newest">{{'STUDY_LIST.NEWEST' | translate}}</md-radio-button>
                <md-radio-button value="ends_soon">{{'STUDY_LIST.SOON' | translate}}</md-radio-button>
            </md-radio-group>
        </md-input-container>


        <md-input-container class="sort" flex-xs="160" flex-sm="80"  flex-gt-sm="40" layout="column">
            <md-checkbox ng-init="show_too_old=false" ng-model="show_too_old" aria-label=" {{'STUDY_LIST.TOO_OLD' | translate}}" ng-click="reloadStudies()">
                {{'STUDY_LIST.TOO_OLD' | translate}}
            </md-checkbox>
            <md-checkbox ng-init="show_non_matches=false" ng-model="show_non_matches" aria-label=" {{'STUDY_LIST.NO_MATCH' | translate}}" ng-click="refilter()">
                {{'STUDY_LIST.NO_MATCH' | translate}}
            </md-checkbox>
        </md-input-container>
    </div>


    <md-progress-circular ng-show="studyIsLoading || studyIsReLoading" class="md-accent loading-animation" md-mode="indeterminate"></md-progress-circular>

    <div layout="column"  ng-class="{'grey-out': studyIsReLoading}">
        <md-card class="custom-pointer" ng-repeat="study in studies | filter:search" ng-click="showDetails(study)"
                 ng-class="{
                     'stuy-not-approved': !study.isApproved,
                     'my-study': study.isThisMyOwnStudy,
                     'advised-study': study.isThisAStudyISupervise,
                     'advised-study-needs-approval': study.isThisAStudyISuperviseAndNeedsApproval,
                     'participated-study-not-approved': study.isThisAStudyIParticipateInAndIAmNotApproved,
                     'participated-study-approved':study.isThisAStudyIParticipateInAndIAmApproved,
                     'participated-study-finished':study.isThisAStudyIParticipateInAndIFinishedIt,
                     'participated-study-not-finished':study.isThisAStudyIParticipateInAndIDIDNTFinishedIt,
                     'study-is-over': study.isFinished
                     }">
            <md-card-title>
                <md-card-title-text>

                    <div class="title-box">

                        <span class="md-headline box-title">{{ study.title }}</span>

                        <div layout="column" class="info-box">
                            <div ng-show="!study.isApproved">{{'STUDY_LIST.NOT_APPROVED_STUDY' | translate}}</div>
                            <div ng-show="study.isThisMyOwnStudy">{{'STUDY_LIST.OWN_STUDY' | translate}}</div>
                            <div ng-show="study.isThisAStudyISupervise">{{'STUDY_LIST.SUPERVISED_STUDY' | translate}}</div>
                            <div ng-show="study.isThisAStudyISuperviseAndNeedsApproval">{{'STUDY_LIST.SUPERVISED_STUDY_AND_APPROVAL' | translate}}</div>
                            <div ng-show="study.isThisAStudyIParticipateInAndIAmApproved">{{'STUDY_LIST.READY_TO_GO' | translate}}</div>
                            <div ng-show="study.isThisAStudyIParticipateInAndIAmNotApproved">{{'STUDY_LIST.NEEDS_CONFIRM' | translate}}</div>
                            <div ng-show="study.isThisAStudyIParticipateInAndIFinishedIt">{{'STUDY_LIST.SUCCESS' | translate}}</div>
                            <div ng-show="study.isThisAStudyIParticipateInAndIDIDNTFinishedIt">{{'STUDY_LIST.FAIL' | translate}}</div>
                            <div ng-show="study.isFinished">{{'STUDY_LIST.FINI' | translate}}</div>
                        </div>
                    </div>

                    <div layout-gt-sm="row" layout="column" layout-align="start start">
                        <span flex-gt-sm="25" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">date_range</i>{{study.startDate | date:'dd.MM.yy'}} - {{study.endDate | date:'dd.MM.yy'}}</span>
                        <span flex-gt-sm="20" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">timelapse</i>{{study.duration}} {{'STUDY_LIST.DURATION' | translate}}</span>
                        <span flex></span>
                        <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_money != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">attach_money</i>{{ study.reward.reward_money }}€</span>
                        <span flex-sm="20" flex-gt-sm="10" ng-if="study.reward.reward_voucher != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">pages</i>{{ study.reward.reward_voucher }}€</span>
                        <span flex-sm="20" flex-gt-sm="15" ng-if="study.reward.reward_hours != null" class="align-items"><i class="material-icons" md-colors="{color: 'accent'}">access_time</i>{{ study.reward.reward_hours }} {{'STUDY_LIST.REWARD_HOURS' | translate}}</span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{ study.description }}
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <!-- <md-button ng-click="showParticipationDialog(study)">{{'STUDY_LIST.PARTICIPATE' | translate}}</md-button>-->
                <md-button>{{'STUDY_LIST.DETAILS' | translate}}</md-button>
            </md-card-actions>
        </md-card>
    </div>

</md-content>
<!-- END study list -->
