.hide {
  display: none; }

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.hint-chips {
  position: relative !important;
  bottom: -7px !important; }

.image-header {
  display: flex;
  align-items: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.danger {
  background-color: #F44336 !important;
  color: #fff !important; }
  .danger md-icon {
    color: #fff !important; }

.success {
  background-color: #4CAF50 !important;
  color: #fff !important; }
  .success md-icon {
    color: #fff !important; }

.nav li {
  float: left; }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }

/* Filter options */
md-nav-bar .md-nav-bar {
  border-color: #fff; }
  md-nav-bar .md-nav-bar .md-button {
    min-width: 64px; }
  md-nav-bar .md-nav-bar ._md-nav-button {
    padding: 12px 8px; }

.search-input {
  margin-left: 8px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 300; }
  .search-input:focus {
    outline: none;
    color: #303030; }

.filter-inActive {
  color: #9E9E9E !important; }

.filter-active {
  color: #FFAB40 !important; }

.filter-input {
  margin-bottom: 0 !important; }

.search-input-mobile {
  margin: 2rem 0 0 0; }

.form-control {
  height: 2.5rem; }

.my-study {
  background-color: #80DEEA; }

.advised-study {
  background-color: #9FA8DA; }

.participated-study-not-approved {
  background-color: #C5E1A5; }

.participated-study-approved {
  background-color: #FFE082; }

.study-not-approved {
  opacity: 0.9; }

.advised-study-needs-approval {
  background-color: #80CBC4; }

.participated-study-finished {
  background-color: #A5D6A7; }

.study-is-over {
  opacity: 0.5; }

.hide {
  display: none; }

.container {
  padding: 1.5em; }

.profile-card {
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 1.5em; }
  .profile-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-info {
  color: #212121;
  padding: .5em 1em 1.5em 1em;
  position: relative;
  text-align: start; }

.profile-info h2 {
  color: #4f6875;
  margin-bottom: 1rem; }

.profile-info span {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
  color: #9E9E9E; }

.hide {
  display: none; }

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.hint-chips {
  position: relative !important;
  bottom: -7px !important; }

.image-header {
  display: flex;
  align-items: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.danger {
  background-color: #F44336 !important;
  color: #fff !important; }
  .danger md-icon {
    color: #fff !important; }

.success {
  background-color: #4CAF50 !important;
  color: #fff !important; }
  .success md-icon {
    color: #fff !important; }

.nav li {
  float: left; }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }

/* Filter options */
md-nav-bar .md-nav-bar {
  border-color: #fff; }
  md-nav-bar .md-nav-bar .md-button {
    min-width: 64px; }
  md-nav-bar .md-nav-bar ._md-nav-button {
    padding: 12px 8px; }

.search-input {
  margin-left: 8px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 300; }
  .search-input:focus {
    outline: none;
    color: #303030; }

.filter-inActive {
  color: #9E9E9E !important; }

.filter-active {
  color: #FFAB40 !important; }

.filter-input {
  margin-bottom: 0 !important; }

.search-input-mobile {
  margin: 2rem 0 0 0; }

.form-control {
  height: 2.5rem; }

.my-study {
  background-color: #80DEEA; }

.advised-study {
  background-color: #9FA8DA; }

.participated-study-not-approved {
  background-color: #C5E1A5; }

.participated-study-approved {
  background-color: #FFE082; }

.study-not-approved {
  opacity: 0.9; }

.advised-study-needs-approval {
  background-color: #80CBC4; }

.participated-study-finished {
  background-color: #A5D6A7; }

.study-is-over {
  opacity: 0.5; }

.hide {
  display: none; }

.container {
  padding: 1.5em; }

.profile-card {
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 1.5em; }
  .profile-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-info {
  color: #212121;
  padding: .5em 1em 1.5em 1em;
  position: relative;
  text-align: start; }

.profile-info h2 {
  color: #4f6875;
  margin-bottom: 1rem; }

.profile-info span {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
  color: #9E9E9E; }

md-toast {
  background: none;
  padding: .5rem;
  position: fixed; }
  @media (max-width: 959px) {
    md-toast {
      padding: 0; } }

.md-toast-content {
  padding: 0px !important;
  background-color: #fff !important;
  color: #212121 !important; }
  @media all and (max-width: 959px) {
    .md-toast-content {
      background-color: #263238 !important;
      color: #fff !important; } }
  @media all and (min-width: 960px) {
    .md-toast-content {
      max-width: 400px !important; } }
  .md-toast-content i {
    padding: 1rem;
    background-color: #FFAB40;
    color: #fff;
    height: 100%;
    font-size: 48px; }

md-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  md-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }
    @media screen and (max-width: 1279px) {
      md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
        right: 12%; } }
    @media screen and (max-width: 959px) {
      md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
        right: 8%; } }

.align-items {
  display: inline-flex; }
  .align-items i {
    margin-right: .5rem; }

.option {
  margin-left: 2em;
  margin-right: 1em; }

.sort {
  color: #8c8c8c;
  margin-bottom: 2.5em; }

.title-box {
  margin-bottom: 1em; }

.box-title {
  display: inline-block;
  float: left;
  vertical-align: top; }

.info-box {
  display: inline;
  float: right;
  vertical-align: top;
  font-weight: lighter;
  color: grey; }

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%; }

.custom-pointer {
  cursor: pointer; }

.align-items {
  display: inline-flex; }

.grey-out {
  opacity: 0.5; }

.loading-animation {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1; }

.not-found-text {
  margin-top: 4rem;
  text-align: center; }

/*# sourceMappingURL=study-list.style.css.map */
