<link rel="stylesheet" href="views/study-details-edit/study-details-edit.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsEditController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START edit study form -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">

        <form name="editStudyForm" layout="column">

            <!-- START general information -->
            <md-content class="md-padding">


                <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-xs="100">
                        <label>{{'CREATE_STUDY.TITLE' | translate}}</label>
                        <input type="text" required ng-model="study.title" name="studyTitle"
                               aria-label="{{'CREATE_STUDY.TITLE_ARIA_LABEL' | translate}}"
                               placeholder="{{'CREATE_STUDY.TITLE_PLACEHOLDER' | translate}}" md-select-on-focus>

                        <div ng-messages="editStudyForm.studyTitle.$error">
                            <div ng-message="required">{{'CREATE_STUDY.TITLE_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-xs="100">
                        <label>{{'CREATE_STUDY.DESCRIPTION' | translate}}</label>
                        <textarea required ng-model="study.description" name="description"
                                  aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}">

                                </textarea>

                        <div ng-messages="editStudyForm.description.$error">
                            <div ng-message="required">{{'CREATE_STUDY.DESCRIPTION_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>


                </div>

                <div layout-gt-xs="row">

                    <md-chips class="md-block" flex-gt-xs="100"
                              secondary-placeholder="z.B. Android"
                              aria-label="{{'CREATE_STUDY.KEYWORDS_ARIA_LABEL' | translate}}"
                              placeholder="{{'CREATE_STUDY.KEYWORDS_PLACEHOLDER' | translate}}"
                              ng-model="study.keywords_array"
                              readonly="ctrl.readonly"
                              md-removable="ctrl.removable">
                    </md-chips>

                </div>

            </md-content>
            <!-- END general information -->

            <!-- START rewards -->
            <md-content class="md-padding">

                <h2 class="md-headline">{{'CREATE_STUDY.HEADLINE_REWARDS' | translate}}</h2>

                <md-input-container class="md-block" layout-gt-xs="row">

                    <md-checkbox flex="100" flex-gt-xs="33" ng-model="money" ng-change="resetMoney()"
                                 aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                        {{'CREATE_STUDY.MONEY' | translate}}
                    </md-checkbox>

                    <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="voucher" ng-change="resetVoucher()"
                                 aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                        {{'CREATE_STUDY.VOUCHER' | translate}}
                    </md-checkbox>

                    <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="hours" ng-change="resetHours()"
                                 aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                        {{'CREATE_STUDY.HOURS' | translate}}
                    </md-checkbox>

                </md-input-container>

                <div layout-gt-xs="row">

                    <md-input-container class="md-block" ng-if="money" flex="100" flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.AMOUNT' | translate}}</label>
                        <input required type="number" ng-model="study.reward.reward_money" name="money"
                               placeholder="{{'CREATE_STUDY.AMOUNT_PLACEHOLDER' | translate}}">

                        <div ng-messages="editStudyForm.money.$error">
                            <div ng-message="required">{{'CREATE_STUDY.AMOUNT_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="voucher" flex="100"
                                        flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.VOUCHER_AMOUNT' | translate}}</label>
                        <input required type="number" ng-model="study.reward.reward_voucher" name="voucher"
                               placeholder="{{'CREATE_STUDY.VOUCHER_AMOUNT_PLACEHOLDER' | translate}}">

                        <div ng-messages="editStudyForm.voucher.$error">
                            <div ng-message="required">{{'CREATE_STUDY.VOUCHER_AMOUNT_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="hours" flex="100" flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.HOURS_AMOUNT' | translate}}</label>
                        <input required type="number" ng-model="study.reward.reward_hours" name="hours"
                               placeholder="{{'CREATE_STUDY.HOURS_AMOUNT_PLACEHOLDER' | translate}}">

                        <div ng-messages="editStudyForm.hours.$error">
                            <div ng-message="required">{{'CREATE_STUDY.HOURS_AMOUNT_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                </div>

            </md-content>
            <!-- END rewards -->

            <!-- START modify dates TODO
            <md-content class="md-padding">

                <h2 class="md-headline">{{'STUDY_DETAILS.DATES' | translate}}</h2>

                <div layout-gt-xs="row">

                    <md-input-container class="md-block">
                        <label>{{'CREATE_STUDY.STUDY_START' | translate}}</label>
                        <md-datepicker required ng-model="study.startDate"
                                       md-min-date="study.startDate"></md-datepicker>

                        <div ng-messages="editStudyForm.startDate.$error">
                            <div ng-message="required">{{'CREATE_STUDY.STUDY_START_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{'CREATE_STUDY.STUDY_END' | translate}}</label>
                        <md-datepicker required ng-model="study.endDate"
                                       md-min-date="study.minEndDate"></md-datepicker>

                        <div ng-messages="editStudyForm.endDate.$error">
                            <div ng-message="required">{{'CREATE_STUDY.STUDY_END_MESSAGE' | translate}}</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout-gt-xs="row" layout-wrap>

                    <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.APPOINTMENT_TIME' | translate}}</label>
                        <input type="text" aria-label="{{'CREATE_STUDY.APPOINTMENT_TIME_ARIA_LABEL' | translate}}"
                               ng-model="appointment.time"
                               placeholder="{{'CREATE_STUDY.APPOINTMENT_TIME_PLACEHOLDER' | translate}}"
                               md-select-on-focus>
                    </md-input-container>

                    <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.APPOINTMENT_BUFFER' | translate}}</label>
                        <input type="number"
                               aria-label="{{'CREATE_STUDY.APPOINTMENT_BUFFER_ARIA_LABEL' | translate}}"
                               ng-model="appointment.bufferTime"
                               placeholder="{{'CREATE_STUDY.APPOINTMENT_BUFFER_PLACEHOLDER' | translate}}"
                               md-select-on-focus>
                    </md-input-container>

                    <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                        <label>{{'CREATE_STUDY.APPOINTMENT_DAY' | translate}}</label>
                        <md-datepicker ng-model="appointment.date" md-min-date="study.startDate"></md-datepicker>
                    </md-input-container>

                    <md-input-container class="md-block" flex="100" style="margin-top:0">
                        <md-button ng-click="addAppointment()"
                                   class="md-raised md-accent">{{'CREATE_STUDY.ADD_APPOINTMENT_BUTTON' | translate}}
                        </md-button>
                    </md-input-container>

                </div>

                <div layout="row" layout-xs="column" layout-wrap>

                    <md-card ng-repeat="appointment in appointments" flex="100" flex-gt-xs="30" flex-gt-sm="20">
                        <md-card-header style="padding-bottom: 0" layout="row" layout-align="end center">
                            <md-button ng-click="removeAppointment(item)" class="md-icon-button md-accent"
                                       aria-label="{{'CREATE_STUDY.APPOINTMENT_CARD_DELETE_ARIA_LABEL' | translate}}">
                                <md-icon class="material-icons md-24 md-primary">close</md-icon>
                            </md-button>
                        </md-card-header>
                        <md-card-content style="padding-top: 0" layou="row">
                            <h3 style="margin-top: 0">{{ appointment.date | date:'dd.MM.yy' }}</h3>
                            <p><strong>{{'CREATE_STUDY.APPOINTMENT_CARD_TIME' | translate}}</strong> {{
                                appointment.time | date:'HH:mm' }}</p>
                            <p><strong>{{'CREATE_STUDY.APPOINTMENT_CARD_DURATION' | translate}}</strong> {{
                                appointment.duration }} Minuten</p>
                        </md-card-content>
                    </md-card>

                </div>

            </md-content>
            <!-- END modify dates -->

            <md-content class="md-padding">
                <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}} <span
                        md-colors="{color: 'accent'}">{{ study.name }}</span></h2>
                <p>{{'CREATE_STUDY.REQUIREMENTS_DESCRIPTION' | translate}}</p>
            </md-content>

            <!-- START requirements TODO
            <md-content class="md-padding">

            </md-content>
            <!-- END requirements -->


            <!-- START submit -->
            <md-content class="md-padding">

                <div layout="row" layout-xs="column">

                    <md-input-container>
                        <md-button
                                ng-click="updateStudy()"
                                ng-disabled="editStudyForm.$invalid" class="md-accent md-raised">
                            {{'STUDY_DETAILS.UPDATE_STUDY_BUTTON' | translate}}
                        </md-button>
                    </md-input-container>
                    <md-input-container>
                        <md-button
                                ng-click="discardChanges()"
                                class="md-raised">
                            {{'STUDY_DETAILS.DISCARD_CHANGES' | translate}}
                        </md-button>
                    </md-input-container>
                    <md-input-container>
                        <md-button
                                ng-click="deleteStudy()"
                                class="md-raised md-warn">
                            {{'STUDY_DETAILS.DELETE_STUDY' | translate}}
                        </md-button>
                    </md-input-container>

                </div>

                <div layout="row" layout-xs="column" ng-if="editStudyForm.$invalid">
                    <p>{{'CREATE_STUDY.REQUIRED_FIELDS' | translate}}</p>
                </div>

            </md-content>
            <!-- END submit -->
        </form>
        <!-- END create study form -->


    </md-content>
    <!-- END create study form -->

</section>
