@import "../../stylesheets/main";

form {

  .errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
  }

  md-checkbox {
    margin-right: 4rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

}

.button-green[disabled] {
  color: forestgreen !important;
}

.align-items {
  display: inline-flex;
  margin-top: 1rem;
  margin-bottom: 0;

  i {
    margin-right: 1rem;
  }

  md-input-container {
    margin: 0;
  }

  input {
    width: 3rem;
  }

  .md-errors-spacer {
    min-height: 0 !important;
    max-height: 0 !important;
  }
}


