@import "../../stylesheets/main";

form {

  .errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
  }

  md-checkbox {
    margin-right: 4rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

}

md-progress-circular {
  margin: 7rem auto 4rem;
}

.button-green[disabled] {
  color: forestgreen !important;
}

.align-items {
  display: inline-flex;
  margin-top: 1rem;
  margin-bottom: 0;

  i {
    margin-right: 1rem;
  }

  md-input-container {
    margin: 0;
  }

  input {
    width: 3rem;
  }

  .md-errors-spacer {
    min-height: 0 !important;
    max-height: 0 !important;
  }

  .md-datepicker-button{
    display: none !important;
  }

  .md-datepicker-input-container{
    margin-left: 0 !important;
  }
}
.time-input {

  input {
    width: 1.5rem;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.new-date {
  background-color: lightgreen;
}

md-card{

  md-card-action{

    md-progress-circular{
      margin: 0;
    }
  }
}