@import "../../stylesheets/main.scss";

.introduction {
  height: 100vh;
  background-image: url("../../../resc/images/register-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.registration {

  md-input-container{
    margin-top: 2.5rem;
  }

  .registration-form {
    margin-top: 8rem;
  }

  .loading-animation{
    position:fixed;
    left : 50%;
    top : 50%;
    width:100%;
    height:100%;
    background-position:center;
    z-index:10000000;
  }

  .spacer {
    @media (min-width: 600px) {
      margin-right: 2rem;
    }
  }

  .flag {
    height: 0.9rem;
    width: 1.3rem;

    &:first-of-type {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}