<link href="views/reset-password/reset-password.style.css" rel="stylesheet">

<md-content layout="row">

    <!-- START app introduction -->
    <section class="introduction" layout="column" layout-align="center center" flex-gt-sm="40" flex="100" hide-sm hide-xs>
        <h1>{{'REGISTER.WELCOME' | translate}}</h1>
        <p>
            {{'REGISTER.NO_MORE' | translate}} <br/>
            {{'REGISTER.FIND' | translate}}
        </p>
        <md-button class="md-accent md-raised">{{'REGISTER.MORE' | translate}}</md-button>

    </section>
    <!-- END app introduction -->

    <!-- START reset -->
    <section class="registration" layout="column" layout-padding flex="100" flex-gt-sm="60">

        <!-- START switch to login -->
        <div class="switch-to-login" layout="row" layout-align="end center">

            <span class="lang" ng-click="changeLanguage('de')">DE
                <img class="flag" src="../../resc/images/german_lang.svg.png" class="md-card-image" alt="german language">
            </span>

            <span class="lang spacer" ng-click="changeLanguage('en')">EN
                <img class="flag" src="../../resc/images/english_lang.svg.png" class="md-card-image" alt="english language">
            </span>


            <span>{{'REGISTER.ACCOUNT' | translate}}</span>
            <md-button href="#!/login" class="md-accent">{{'REGISTER.LOGIN' | translate}}</md-button>
        </div>
        <!-- END switch to login -->

        <!-- START reset form -->
        <md-progress-circular ng-show="!resetProgress" class="md-accent loading-animation" md-mode="indeterminate"></md-progress-circular>
        <div class="registration-form" layout="row" layout-align="center start" ng-show="resetProgress">

            <form  layout="column" flex-gt-xs="60" flex="100">

                <h2>{{'RESET_PASSWORD.RESET_PASSWORD' | translate}}</h2>



                <md-input-container layout="row">
                    <input type="password" aria-label="{{'EDIT_PROFILE.NEW_PASSWORD' | translate}}" ng-model="passwordOne" placeholder="{{'REGISTER.PASSWORD' | translate}}">
                </md-input-container>
                <md-input-container layout="row">
                    <input type="password" aria-label="{{'EDIT_PROFILE.NEW_PASSWORD_REPEAT' | translate}}" ng-model="passwordTwo" placeholder="{{'REGISTER.PASSWORD' | translate}}">
                </md-input-container>
                <div layout="row" class="submit">
                    <md-button ng-disabled="!(passwordOne && passwordTwo)" ng-click="resetPassword(passwordOne, passwordTwo)" class="md-accent md-raised">{{'RESET_PASSWORD.RESET_PASSWORD' | translate}}</md-button>
                </div>
                <div layout-align="start center" ng-if="errorMessage" class="error-message">
                    <md-icon class="material-icons">report_problem</md-icon>
                    <span>{{errorMessage}}</span>
                </div>
            </form>
        </div>
        <!-- END reset form -->

    </section>
    <!-- END reset -->

</md-content>

