@import "../../stylesheets/main.scss";

.introduction {
  height: 100vh;
  background-image: url("../../../resc/images/register-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.registration {

  md-input-container{
    margin-top: 2.5rem;
  }

  .registration-form {
    margin-top: 8rem;
  }

}