/* Navbar styles */
.hide {
  display: none; }

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.hint-chips {
  position: relative !important;
  bottom: -7px !important; }

.image-header {
  display: flex;
  align-items: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.nav li {
  float: left; }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }

/* Filter options */
md-nav-bar .md-nav-bar {
  border-color: #fff; }
  md-nav-bar .md-nav-bar .md-button {
    min-width: 64px; }
  md-nav-bar .md-nav-bar ._md-nav-button {
    padding: 12px 8px; }

.search-input {
  margin-left: 8px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 300; }
  .search-input:focus {
    outline: none;
    color: #303030; }

.filter-inActive {
  color: #9E9E9E !important; }

.filter-active {
  color: #FFAB40 !important; }

.filter-input {
  margin-bottom: 0 !important; }

.search-input-mobile {
  margin: 2rem 0 0 0; }

.form-control {
  height: 2.5rem; }

.hide {
  display: none; }

.container {
  padding: 1.5em; }

.profile-card {
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 1.5em; }
  .profile-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-info {
  color: #212121;
  padding: .5em 1em 1.5em 1em;
  position: relative;
  text-align: start; }

.profile-info h2 {
  color: #4f6875;
  margin-bottom: 1rem; }

.profile-info span {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
  color: #9E9E9E; }

.hide {
  display: none; }

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.hint-chips {
  position: relative !important;
  bottom: -7px !important; }

.image-header {
  display: flex;
  align-items: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.nav li {
  float: left; }

md-toolbar.toolbar {
  height: 8rem; }
  md-toolbar.toolbar h2 {
    margin-left: 0; }
  md-toolbar.toolbar .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100; }
    md-toolbar.toolbar .md-toolbar-tools i {
      font-size: 2rem;
      margin-right: 1rem; }
  md-toolbar.toolbar .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%; }

/* Filter options */
md-nav-bar .md-nav-bar {
  border-color: #fff; }
  md-nav-bar .md-nav-bar .md-button {
    min-width: 64px; }
  md-nav-bar .md-nav-bar ._md-nav-button {
    padding: 12px 8px; }

.search-input {
  margin-left: 8px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 300; }
  .search-input:focus {
    outline: none;
    color: #303030; }

.filter-inActive {
  color: #9E9E9E !important; }

.filter-active {
  color: #FFAB40 !important; }

.filter-input {
  margin-bottom: 0 !important; }

.search-input-mobile {
  margin: 2rem 0 0 0; }

.form-control {
  height: 2.5rem; }

.hide {
  display: none; }

.container {
  padding: 1.5em; }

.profile-card {
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 1.5em; }
  .profile-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.profile-info {
  color: #212121;
  padding: .5em 1em 1.5em 1em;
  position: relative;
  text-align: start; }

.profile-info h2 {
  color: #4f6875;
  margin-bottom: 1rem; }

.profile-info span {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
  color: #9E9E9E; }

md-toast {
  background: none;
  padding: .5rem;
  position: fixed; }
  @media (max-width: 959px) {
    md-toast {
      padding: 0; } }

.md-toast-content {
  padding: 0px !important;
  background-color: #fff !important;
  color: #212121 !important; }
  @media all and (max-width: 959px) {
    .md-toast-content {
      background-color: #263238 !important;
      color: #fff !important; } }
  @media all and (min-width: 960px) {
    .md-toast-content {
      max-width: 400px !important; } }
  .md-toast-content i {
    padding: 1rem;
    background-color: #FFAB40;
    color: #fff;
    height: 100%;
    font-size: 48px; }

nav-bar .md-toolbar-tools {
  font-size: 1rem; }
nav-bar .nav, nav-bar .user-profil {
  color: #9fb4be; }
  nav-bar .nav .active, nav-bar .user-profil .active {
    color: #dce3e7;
    border-bottom: 2px solid #FFAB40; }
  nav-bar .nav a, nav-bar .user-profil a {
    margin-left: 2rem;
    padding: 0 .5rem 3px .5rem; }
    nav-bar .nav a:first-of-type, nav-bar .user-profil a:first-of-type {
      margin-left: 1rem; }
    nav-bar .nav a:hover, nav-bar .user-profil a:hover {
      color: #dce3e7;
      cursor: pointer; }
    nav-bar .nav a i, nav-bar .user-profil a i {
      font-size: 1rem; }
nav-bar .flag {
  height: 1.2rem;
  width: 2rem;
  margin: 0.1rem; }
  @media (max-width: 600px) {
    nav-bar .flag {
      display: none; } }

md-sidenav md-toolbar {
  background-color: #263238; }
md-sidenav a {
  text-decoration: none;
  color: #212121 !important; }

/*# sourceMappingURL=navbar.style.css.map */
