/* Navbar styles */

//Import main styles
@import "../../stylesheets/main";
@import "../../services/toast-service/toast-service.style";

nav-bar {
  .md-toolbar-tools {
    font-size: 1rem;
  }

  .nav, .user-profil {
    color: lighten($primary-color, 50);

    .active {
      color: lighten($primary-color, 70);
      border-bottom: 2px solid #FFAB40;
    }

    a {
      margin-left: 2rem;
      padding: 0 .5rem 3px .5rem;

      &:first-of-type {
        margin-left: 1rem;
      }

      &:hover {
        color: lighten($primary-color, 70);
        cursor: pointer;
      }

      i {
        font-size: 1rem;
      }
    }

  }

  .flag {
    height: 1.2rem;
    width: 2rem;
    margin: 0.1rem;

    @media (max-width: 600px) {
      display: none;
    }
  }

}


md-sidenav {

  md-toolbar {
    background-color: $primary-color;
  }

  a {
    text-decoration: none;
    color: $primary-text-color !important;
  }
}

