<link href="components/navbar/navbar.style.css" rel="stylesheet">

<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4">

    <md-toolbar layout="row" layout-align="start center" style="background-color: #263238">
        <h1 class="md-toolbar-tools">Menu</h1>
        <span flex></span>
        <md-button ng-click="toggleSidenav()" class="md-icon-button md-accent"
                   aria-label="{{'CREATE_STUDY.APPOINTMENT_CARD_DELETE_ARIA_LABEL' | translate}}">
            <md-icon class="material-icons md-24 md-primary">close</md-icon>
        </md-button>
    </md-toolbar>
    <md-content layout="column" layout-padding ng-controller="SidenavController">
        <a flex href="#!/home">{{'NAVBAR.STUDIES' | translate}}</a>
        <a flex href="#!/my-studies">{{'NAVBAR.MY_STUDIES' | translate}}</a>
        <a flex href="#!/user-preferences">{{'NAVBAR.MY_PREFERENCES' | translate}}</a>
        <a ng-show="isAdmin" flex href="#!/admin-dashboard">{{'ADMIN_DASHBOARD.ADMIN_DASHBOARD' | translate}}</a>
    </md-content>

</md-sidenav>

<md-toolbar class="md-hue-1">

    <div class="md-toolbar-tools">

        <div class="nav" flex-offset-gt-sm="15" hide-xs>
            <a ng-class="{active: $route.current.activeTab == 'home'}" href="#!/home">{{'NAVBAR.STUDIES' | translate}}</a>
            <a ng-class="{active: $route.current.activeTab == 'my-studies'}" href="#!/my-studies">{{'NAVBAR.MY_STUDIES' | translate}}</a>
            <a ng-class="{active: $route.current.activeTab == 'user-preferences'}" href="#!/user-preferences">{{'NAVBAR.MY_PREFERENCES' | translate}}</a>
            <a ng-show="isAdmin" ng-class="{active: $route.current.activeTab == 'admin-dashboard'}" href="#!/admin-dashboard">{{'ADMIN_DASHBOARD.ADMIN_DASHBOARD' | translate}}</a>
        </div>

        <div class="nav-mobil" hide-gt-xs>
            <md-button class="md-icon-button" aria-label="{{'NAVBAR.LOGOUT' | translate}}" ng-click="toggleSidenav()">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
        </div>


        <span flex></span>


        <span class="lang" ng-click="changeLanguage('de')">
            <img class="flag md-card-image" src="../../resc/images/german_lang.svg.png" alt="german language">
        </span>

        <span class="lang spacer" ng-click="changeLanguage('en')">
            <img class="flag md-card-image" src="../../resc/images/english_lang.svg.png" alt="english language">
        </span>


        <div class="user-profil">
            <md-menu md-offset="5 50" md-position-mode="target-right target">
                <md-button aria-label="{{'NAVBAR.OPEN_MENU' | translate}}" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon class="material-icons md-24">account_circle</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="goToEditProfile()" aria-label="{{'NAVBAR.PROFILE_EDIT' | translate}}">
                            {{'NAVBAR.PROFILE_EDIT' | translate}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item hide-gt-xs>
                        <md-button ng-click="toggleLanguage()" aria-label="{{'NAVBAR.PROFILE_EDIT' | translate}}">
                            {{'NAVBAR.CHANGE_LANGUAGE' | translate}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logout()" aria-label="{{'NAVBAR.LOGOUT' | translate}}">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
