<link href="components/navbar/navbar.style.css" rel="stylesheet">

<md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">

        <div class="nav" flex-offset-gt-sm="15" hide-xs>
            <a class="active" href="#!/home">Studien</a>
            <a href="#!/user-preferences">Meine Kriterien</a>
            <a href="#!/my-studies">Meine Studien</a>
            <a>Archiv</a>
        </div>

        <div class="nav-mobil" hide-gt-xs>
            <md-button class="md-icon-button" aria-label="logout">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
        </div>


        <span flex></span>

        <div class="user-profil">
            <md-menu md-offset="5 50" md-position-mode="target-right target">
                <md-button aria-label="Open user menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon class="material-icons md-24">account_circle</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="goToEditProfile()" aria-label="Profil Bearbeiten">
                            Profil bearbeiten
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logout()" aria-label="logout">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
