<link rel="stylesheet" href="views/login/login.style.css">

<md-content layout="row" ng-controller="LoginController">

    <section class="introduction md-hue-1" layout="column" layout-align="center center" flex-gt-sm="40" flex="100" hide-sm hide-xs>
        <h1>Willkommen bei User Study</h1>
        <p>
            Schluss mit Facebook und Mundpropaganda <br/>
            Finde und erstelle Benutzerstudien einfach online
        </p>
        <md-button class="md-accent md-raised">Mehr erfahren</md-button>

    </section>

    <!-- START registration -->
    <section class="login" layout="column" layout-padding flex="100" flex-gt-sm="60">

        <!-- START switch to login -->
        <div class="switch-to-login" layout="row" layout-align="end center">
            <span>Du hast noch keinen Account?</span>
            <md-button href="#!/register" class="md-accent">Registrieren</md-button>
        </div>
        <!-- END switch to login -->

        <!-- START registration form -->
        <div class="login-form" layout="row" layout-align="center start">

            <form  layout="column" flex-gt-xs="60" flex="100">

                <h2>Einloggen bei User Study</h2>

                <md-input-container layout="row">
                    <input type="text" aria-label="Email" ng-model="email" placeholder="Email">
                </md-input-container>
                <md-input-container layout="row">
                    <input type="password" aria-label="Passwort" ng-model="password" placeholder="Passwort">
                </md-input-container>
                <div layout="row" class="submit">
                    <md-button ng-click="loginUser(email, password)" class="md-accent md-raised">Einloggen</md-button>
                </div>

                <div layout-align="start center" ng-if="errorMessage" class="error-message">
                    <md-icon class="material-icons">report_problem</md-icon>
                    <span>{{errorMessage}}</span>
                </div>

            </form>
        </div>
        <!-- END registration form -->

    </section>
    <!-- END registration -->

</md-content>
