<link rel="stylesheet" href="views/login/login.style.css">

<md-content layout="row" ng-controller="LoginController">

    <section class="introduction md-hue-1" layout="column" layout-align="center center" flex-gt-sm="40" flex="100" hide-sm hide-xs>
        <h1>{{'LOGIN.WELCOME' | translate}}</h1>
        <p>
            {{'LOGIN.NO_MORE' | translate}} <br/>
            {{'LOGIN.FIND' | translate}}
        </p>
        <md-button class="md-accent md-raised">{{'LOGIN.MORE' | translate}}</md-button>

    </section>

    <!-- START registration -->
    <section class="login" layout="column" layout-padding flex="100" flex-gt-sm="60">

        <!-- START switch to login -->
        <div class="switch-to-login" layout="row" layout-align="end center">
            <md-switch ng-model="language" aria-label="Language" ng-true-value="'en-EN'" ng-false-value="'de-DE'" class="md-primary">
                {{changeLanguage(language)}}
            </md-switch>
            <span>{{'LOGIN.NO_ACCOUNT' | translate}}</span>
            <md-button href="#!/register" class="md-accent">{{'LOGIN.REGISTER' | translate}}</md-button>
        </div>
        <!-- END switch to login -->

        <!-- START registration form -->
        <div class="login-form" layout="row" layout-align="center start">

            <form  layout="column" flex-gt-xs="60" flex="100">

                <h2>{{'LOGIN.LOGIN_HERE' | translate}}</h2>

                <md-input-container layout="row">
                    <input type="text" aria-label="{{'LOGIN.MAIL' | translate}}" ng-model="email" placeholder="{{'LOGIN.MAIL' | translate}}">
                </md-input-container>
                <md-input-container layout="row">
                    <input type="password" aria-label="{{'LOGIN.PASSWORD' | translate}}" ng-model="password" placeholder="{{'LOGIN.PASSWORD' | translate}}">
                </md-input-container>
                <div layout="row" class="submit">
                    <md-button ng-click="loginUser(email, password)" class="md-accent md-raised">{{'LOGIN.LOGIN' | translate}}</md-button>
                </div>

                <div layout-align="start center" ng-if="errorMessage" class="error-message">
                    <md-icon class="material-icons">report_problem</md-icon>
                    <span>{{errorMessage}}</span>
                </div>

            </form>
        </div>
        <!-- END registration form -->

    </section>
    <!-- END registration -->

</md-content>
