@import "../../stylesheets/main";

$red: rgb(244, 67, 54);
$green: rgb(76, 175, 80);

.error-message {
  color: #EF5350;
  font-size:  0.70em;
}

.align-items {
  display: inline-flex;
}

.loading-animation{
  position:fixed;
  left : 50%;
  top : 50%;
  width:100%;
  height:100%;
  background-position:center;
  z-index:10000000;
}