<link href="views/edit-profile/edit-profile.style.css" rel="stylesheet">


<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<md-content ng-controller="editProfileController">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->
    <md-card flex-offset-gt-sm="20" flex-gt-sm="60" flex-offset-sm="100">
        <md-list ng-repeat="(key, value) in currentUserData" >
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="row" layout-align="center center">
                    <span flex><b>{{key}}</b></span>
                    <span flex></span>
                    <span flex>{{value}}</span>
                    <span flex></span>
                    <md-button ng-click="toggleArrow(key)"  class="material-icons md-24">
                        <i ng-show="!toggleActive[key]" class="material-icons">keyboard_arrow_right</i>
                        <i ng-show="toggleActive[key]" class="material-icons">keyboard_arrow_down</i>
                    </md-button>
                </div>

            </md-list-item>
            <md-list-item ng-show="toggleActive[key] && key == 'Username'">
                <span flex></span>
                <span flex>
                    <md-input-container >
                        <input ng-model="input.name" required type="text" placeholder="Neuer Username">
                        <div ng-show="error.username" class="error-message">{{error.username}}</div>
                    </md-input-container>
                   </span>
                <span><md-button ng-disabled="!input.name" ng-click="changeUsername()">Ändern</md-button></span>
            </md-list-item>
            <md-list-item ng-show="toggleActive[key] && key == 'Passwort'">
                <span flex>
                    <md-input-container >
                        <input ng-model="input.oldPassword" required type="password" placeholder="Altes Passwort">
                        <div ng-show="error.oldPassword" class="error-message">{{error.oldPassword}}</div>
                    </md-input-container>
                </span>
                <span flex>
                    <md-input-container >
                        <input ng-model="input.newPassword" required type="password" placeholder="Neues Passwort">
                    </md-input-container>
                </span>
                <span flex>
                    <md-input-container >
                        <input ng-model="input.repeatNewPassword" required type="password" placeholder="Neues Passwort wiederholen">
                        <div ng-show="error.newPassword" class="error-message">{{error.newPassword}}</div>
                    </md-input-container>
                </span>
                <span><md-button ng-click="changePassword()" ng-disabled="!(input.oldPassword && input.newPassword && input.repeatNewPassword)">Ändern</md-button></span>
            </md-list-item>

            <md-divider ng-if="!$last"></md-divider>
        </md-list>
    </md-card>
</md-content>