@import "../../stylesheets/main";

md-toast {
  background: none;
  padding: .5rem;
  position: fixed;
  
  @media (max-width: 959px) {
    padding: 0;
  }
}

.md-toast-content {
  padding: 0px !important;
  background-color: #fff !important;
  color: $primary-text-color !important;

  @media all and (max-width: 959px) {
    background-color: $primary-color !important;
    color: #fff !important;
  }

  @media all and (min-width: 960px) {
    max-width: 400px !important;
  }

  i {
    padding: 1rem;
    background-color: #FFAB40;
    color: #fff;
    height: 100%;
    font-size: 48px;
  }
}


