<link href="components/participant-details-dialog/participant-details-dialog.style.css" rel="stylesheet">

<md-dialog-content flex="66">

    <div class="md-dialog-content">

        <div layout="row" layout-align="center center" ng-hide="isLoading">
        <h2>{{participation.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
        </div>

        <md-progress-circular ng-show="isLoading" class="md-accent loading-animation" md-mode="indeterminate"></md-progress-circular>

        <div ng-show="userDataReady" layout="row" layout-wrap ng-show="user" layout-align="center center">


            <md-subheader flex="50">{{'LOGIN.MAIL' | translate}}:</md-subheader>
            <span flex="50">{{user.email}}</span>
            <md-subheader flex="50">{{'STUDY_DETAILS.CHOSEN_REWARD' | translate}}:</md-subheader>
            <span flex="50">{{reward}}</span>
            <md-subheader flex="50">{{'CREATE_STUDY.GENDER' | translate}}:</md-subheader>
            <span flex="50">{{pref.genderString}}</span>
            <md-subheader flex="50" ng-show="pref.course">{{'CREATE_STUDY.COURSE_OF_STUDY' | translate}}:</md-subheader>
            <span flex="50" ng-show="pref.course">{{pref.course}}</span>
            <md-subheader flex="50" ng-show="pref.matriculationNr">{{'USER_PREFERENCES.MAT_NR' | translate}}:</md-subheader>
            <span flex="50" ng-show="pref.matriculationNr">{{pref.matriculationNr}}</span>


        </div>

        <div ng-show="showContactForm">
        <md-divider ></md-divider>
            <md-subheader>{{'STUDY_DETAILS.CONTACT_PARTICIPANT' | translate}}:</md-subheader>

        <form name="contactForm">
            <div layout-gt-xs="column">
                <md-input-container layout="row" class="md-block" flex>
                    <input type="text"
                           required ng-model="subjectString"
                           name="subject"
                           aria-label="{{'STUDY_DETAILS.SUBJECT' | translate}}"
                           placeholder="{{'STUDY_DETAILS.SUBJECT' | translate}}">
                </md-input-container>
                <md-input-container class="md-block" flex>

                        <textarea required ng-model="bodyString"
                                  name="body" md-maxlength="10000"
                                  aria-label="{{'STUDY_DETAILS.TEXT' | translate}}"
                                  placeholder="{{'STUDY_DETAILS.TEXT' | translate}}">

                        </textarea>
                </md-input-container>
                <md-input-container layout="row" flex layout-align="end start">


                    <md-button ng-click="clearContactForm()">{{'STUDY_DETAILS.CANCEL' | translate}}</md-button>
                    <md-button
                            ng-click="send()"
                            ng-disabled="contactForm.$invalid" class="md-accent md-raised">{{'STUDY_DETAILS.SEND' |
                        translate}}
                    </md-button>
                </md-input-container>
            </div>
        </form>
        </div>
    </div>


</md-dialog-content>

<md-dialog-actions ng-hide="showContactForm">
    <div class="button-container">
    <md-button ng-hide="isLoading" class="md-raised md-accent" ng-click="showContactForm = true">{{'STUDY_DETAILS.CONTACT_PARTICIPANT' |
        translate}}
    </md-button>
    </div>
</md-dialog-actions>

