.nav {

  li {
    float: left;
  }
}

md-toolbar.toolbar {

  height: 8rem;

  h2 {
    margin-left: 0;
  }

  .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100;

    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%;
  }
}

/* Filter options */
md-nav-bar .md-nav-bar {
  border-color: #fff;

  .md-button {
    min-width: 64px;
  }

  ._md-nav-button {
    padding: 12px 8px;
  }
}

.search-input {
  margin-left: 8px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 300;

  &:focus {
    outline: none;
    color: #303030;
  }
}

.filter-inActive {
  color: #9E9E9E !important;
}

.filter-active {
  color: #FFAB40 !important;
}

.filter-input {
  margin-bottom: 0 !important;
}

.search-input-mobile {
  margin: 2rem 0 0 0;
}