<link rel="stylesheet" href="views/study-details/study-details.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START description -->
    <md-content layout-padding flex-offset-gt-sm="20" flex-gt-sm="60" flex-offset-sm="100">

        <h2 class="md-headline">{{'STUDY_DETAILS.DESCRIPTION' | translate}}</h2>
        <p>{{study.description}}</p>
    </md-content>
    <!-- END description -->
</section>
