<link rel="stylesheet" href="views/study-details/study-details.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="StudyDetailsController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{study.title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START create study form -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex="100">


                <!-- START general information -->
                <md-content class="md-padding">


                    <div layout-gt-xs="row" ng-show="editing">

                        <md-input-container class="md-block" flex-gt-xs="100">
                            <label>{{'CREATE_STUDY.TITLE' | translate}}</label>
                            <input type="text" required ng-model="study.title" name="studyTitle"
                                   aria-label="{{'CREATE_STUDY.TITLE_ARIA_LABEL' | translate}}"
                                   placeholder="{{'CREATE_STUDY.TITLE_PLACEHOLDER' | translate}}" md-select-on-focus>

                            <div ng-messages="createStudyForm.studyTitle.$error">
                                <div ng-message="required">{{'CREATE_STUDY.TITLE_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" flex-gt-xs="100" ng-show="editing">
                            <textarea ng-readonly="!editing" required ng-model="study.description" name="description"
                                      aria-label="{{'CREATE_STUDY.DESCRIPTION_ARIA_LABEL' | translate}}">

                                </textarea>

                            <div ng-messages="createStudyForm.description.$error">
                                <div ng-message="required">{{'CREATE_STUDY.DESCRIPTION_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                        <p class="md-block" flex-gt-xs="100" ng-hide="editing">{{study.description}}</p>

                    </div>

                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" flex-gt-xs="30">
                            <input type="number" required
                                   ng-readonly="!editing"
                                   aria-label="{{'CREATE_STUDY.DURATION_ARIA_LABEL' | translate}}"
                                   ng-model="study.duration"
                                   name="duration" placeholder="{{'CREATE_STUDY.DURATION_PLACEHOLDER' | translate}}">

                            <div ng-messages="createStudyForm.duration.$error">
                                <div ng-message="required">{{'CREATE_STUDY.DURATION_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-chips class="md-block" style="margin-top: 1px" flex-gt-xs="70"
                                  ng-readonly="!editing"
                                  secondary-placeholder="z.B. Android"
                                  aria-label="{{'CREATE_STUDY.KEYWORDS_ARIA_LABEL' | translate}}"
                                  placeholder="{{'CREATE_STUDY.KEYWORDS_PLACEHOLDER' | translate}}"
                                  ng-model="study.tags"
                                  readonly="ctrl.readonly"
                                  md-removable="ctrl.removable">
                        </md-chips>

                    </div>

                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" flex-gt-xs="100">
                            <label>{{'CREATE_STUDY.LOCATION' | translate}}</label>
                            <input type="text" required ng-model="study.location" name="studyLocation"
                                   ng-readonly="!editing"
                                   aria-label="{{'CREATE_STUDY.LOCATION_ARIA_LABEL' | translate}}"
                                   placeholder="{{'CREATE_STUDY.LOCATION_PLACEHOLDER' | translate}}">

                            <div ng-messages="createStudyForm.studyLocation.$error">
                                <div ng-message="required">{{'CREATE_STUDY.LOCATION_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout-gt-xs="row">

                        <md-input-container flex="100" flex-xs="100">
                            <label>{{'CREATE_STUDY.ADVISER' | translate}}</label>
                            <md-select ng-model="study.advisor" ng-readonly="!editing"
                                       aria-label="{{'CREATE_STUDY.ADVISER_ARIA_LABEL' | translate}}" required>
                                <md-option ng-value="supervisor" ng-repeat="supervisor in supervisors">{{supervisor.name}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="createStudyForm.adviser.$error">
                                <div ng-message="required">{{'CREATE_STUDY.ADVISER_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                    </div>

                </md-content>
                <!-- END general information -->

                <!-- START rewards -->
                <md-content class="md-padding">

                    <h2 class="md-headline">{{'CREATE_STUDY.HEADLINE_REWARDS' | translate}}</h2>

                    <md-input-container class="md-block" layout-gt-xs="row">

                        <md-checkbox flex="100" flex-gt-xs="33" ng-model="money"
                                     aria-label="{{'CREATE_STUDY.MONEY_ARIA_LABEL' | translate}}">
                            {{'CREATE_STUDY.MONEY' | translate}}
                        </md-checkbox>

                        <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="voucher"
                                     aria-label="{{'CREATE_STUDY.VOUCHER_ARIA_LABEL' | translate}}">
                            {{'CREATE_STUDY.VOUCHER' | translate}}
                        </md-checkbox>

                        <md-checkbox flex-xs="100" flex-gt-xs="33" ng-model="hours"
                                     aria-label="{{'CREATE_STUDY.HOURS_ARIA_LABEL' | translate}}">
                            {{'CREATE_STUDY.HOURS' | translate}}
                        </md-checkbox>

                    </md-input-container>

                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" ng-if="money" flex="100" flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.AMOUNT' | translate}}</label>
                            <input required type="number" ng-model="study.money" name="money" ng-readonly="!editing"
                                   placeholder="{{'CREATE_STUDY.AMOUNT_PLACEHOLDER' | translate}}">

                            <div ng-messages="createStudyForm.money.$error">
                                <div ng-message="required">{{'CREATE_STUDY.AMOUNT_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" ng-if="voucher" flex="100"
                                            flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.VOUCHER_AMOUNT' | translate}}</label>
                            <input required type="number" ng-model="study.voucher" name="voucher" ng-readonly="!editing"
                                   placeholder="{{'CREATE_STUDY.VOUCHER_AMOUNT_PLACEHOLDER' | translate}}">

                            <div ng-messages="createStudyForm.voucher.$error">
                                <div ng-message="required">{{'CREATE_STUDY.VOUCHER_AMOUNT_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" ng-if="hours" flex="100" flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.HOURS_AMOUNT' | translate}}</label>
                            <input required type="number" ng-model="study.hours" name="hours" ng-readonly="!editing"
                                   placeholder="{{'CREATE_STUDY.HOURS_AMOUNT_PLACEHOLDER' | translate}}">

                            <div ng-messages="createStudyForm.hours.$error">
                                <div ng-message="required">{{'CREATE_STUDY.HOURS_AMOUNT_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                    </div>

                </md-content>
                <!-- END rewards -->

                <!-- START add dates -->
                <md-content class="md-padding">

                    <h2 class="md-headline">{{'CREATE_STUDY.ADD_DATES' | translate}}</h2>

                    <div layout-gt-xs="row">

                        <md-input-container class="md-block">
                            <label>{{'CREATE_STUDY.STUDY_START' | translate}}</label>
                            <md-datepicker required ng-model="study.startDate" ng-readonly="!editing"
                                           md-min-date="study.startDate"></md-datepicker>

                            <div ng-messages="createStudyForm.startDate.$error">
                                <div ng-message="required">{{'CREATE_STUDY.STUDY_START_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>{{'CREATE_STUDY.STUDY_END' | translate}}</label>
                            <md-datepicker required ng-model="study.endDate" ng-readonly="!editing"
                                           md-min-date="study.minEndDate"></md-datepicker>

                            <div ng-messages="createStudyForm.endDate.$error">
                                <div ng-message="required">{{'CREATE_STUDY.STUDY_END_MESSAGE' | translate}}</div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout-gt-xs="row" layout-wrap ng-show="editing">

                        <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.APPOINTMENT_TIME' | translate}}</label>
                            <input type="text" aria-label="{{'CREATE_STUDY.APPOINTMENT_TIME_ARIA_LABEL' | translate}}"
                                   ng-model="appointment.time"
                                   placeholder="{{'CREATE_STUDY.APPOINTMENT_TIME_PLACEHOLDER' | translate}}"
                                   md-select-on-focus>
                        </md-input-container>

                        <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.APPOINTMENT_BUFFER' | translate}}</label>
                            <input type="number"
                                   aria-label="{{'CREATE_STUDY.APPOINTMENT_BUFFER_ARIA_LABEL' | translate}}"
                                   ng-model="appointment.bufferTime"
                                   placeholder="{{'CREATE_STUDY.APPOINTMENT_BUFFER_PLACEHOLDER' | translate}}"
                                   md-select-on-focus>
                        </md-input-container>

                        <md-input-container class="md-block margin-btm-0" flex="100" flex-gt-xs="33">
                            <label>{{'CREATE_STUDY.APPOINTMENT_DAY' | translate}}</label>
                            <md-datepicker ng-model="appointment.date" md-min-date="study.startDate"></md-datepicker>
                        </md-input-container>

                        <md-input-container class="md-block" flex="100" style="margin-top:0">
                            <md-button ng-click="addAppointment()"
                                       class="md-raised md-accent">{{'CREATE_STUDY.ADD_APPOINTMENT_BUTTON' | translate}}
                            </md-button>
                        </md-input-container>

                    </div>

                    <div layout="row" layout-xs="column" layout-wrap>

                        <md-card ng-repeat="appointment in appointments" flex="100" flex-gt-xs="30" flex-gt-sm="20">
                            <md-card-header style="padding-bottom: 0" layout="row" layout-align="end center">
                                <md-button ng-click="removeAppointment(item)" class="md-icon-button md-accent"
                                           ng-show="editing"
                                           aria-label="{{'CREATE_STUDY.APPOINTMENT_CARD_DELETE_ARIA_LABEL' | translate}}">
                                    <md-icon class="material-icons md-24 md-primary">close</md-icon>
                                </md-button>
                            </md-card-header>
                            <md-card-content style="padding-top: 0" layou="row">
                                <h3 style="margin-top: 0">{{ appointment.date | date:'dd.MM.yy' }}</h3>
                                <p><strong>{{'CREATE_STUDY.APPOINTMENT_CARD_TIME' | translate}}</strong> {{
                                    appointment.time | date:'HH:mm' }}</p>
                                <p><strong>{{'CREATE_STUDY.APPOINTMENT_CARD_DURATION' | translate}}</strong> {{
                                    appointment.duration }} Minuten</p>
                            </md-card-content>
                        </md-card>

                    </div>

                </md-content>
                <!-- END add dates -->

                <md-content class="md-padding">
                    <h2 class="md-headline">{{'CREATE_STUDY.REQUIREMENTS_TAB_LABEL' | translate}} <span
                            md-colors="{color: 'accent'}">{{ study.name }}</span></h2>
                    <p ng-show="editing">{{'CREATE_STUDY.REQUIREMENTS_DESCRIPTION' | translate}}</p>
                </md-content>

                <!-- START requirements -->
                <md-content class="md-padding">
                    <div layout-gt-xs="row" layout-wrap>

                        <div layout-gt-xs="row" flex="100" layout-align="start center" ng-show="!editing && preferencesStudent">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesStudent"
                                           aria-label="{{'CREATE_STUDY.STUDENT_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.STUDENT' | translate}}
                                </md-switch>

                            </div>

                            <md-input-container flex-gt-xs="75" flex="100" ng-if="preferencesStudent">
                                <label>{{'CREATE_STUDY.COURSE_OF_STUDY' | translate}}</label>
                                <md-select ng-model="preferences.studyProgram">
                                    <md-option value="1">Mathematik</md-option>
                                    <md-option value="2">Informatik</md-option>
                                    <md-option value="3">Industrial Design</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesAge"
                                           aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.AGE' | translate}}
                                </md-switch>

                            </div>

                            <md-slider-container ng-if="preferencesAge === 'Ja'" flex="75" flex-xs="100">

                                <span>{{'CREATE_STUDY.YEARS' | translate}}</span>
                                <md-slider flex min="0" max="50" ng-model="preferences.age"
                                           aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}"
                                           id="age-slider">
                                </md-slider>
                                <md-input-container>
                                    <input flex type="number" ng-model="preferences.age"
                                           aria-label="{{'CREATE_STUDY.AGE_ARIA_LABEL' | translate}}"
                                           aria-controls="age-slider">
                                </md-input-container>

                            </md-slider-container>

                        </div>

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesNationality"
                                           aria-label="{{'CREATE_STUDY.NATIONALITY_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.NATIONALITY' | translate}}
                                </md-switch>

                            </div>

                            <md-input-container flex-gt-xs="75" flex="100" ng-if="preferencesNationality">
                                <label>{{'CREATE_STUDY.NATIONALITY' | translate}}</label>
                                <md-select name="nationality" ng-model="preferences.nationality">
                                    <md-option value="1">Deutschland</md-option>
                                    <md-option value="2">United States of America</md-option>
                                    <md-option value="3">Zimbabwe</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesLanguage"
                                           aria-label="{{'CREATE_STUDY.LANGUAGE_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.LANGUAGE' | translate}}
                                </md-switch>

                            </div>

                            <md-input-container flex-gt-xs="75" flex="100" ng-if="preferencesLanguage">
                                <label>{{'CREATE_STUDY.LANGUAGE' | translate}}</label>
                                <md-select name="language" ng-model="preferences.language">
                                    <md-option value="1">Englisch</md-option>
                                    <md-option value="2">Deutsch</md-option>
                                    <md-option value="3">Arabisch</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                    </div>

                    <div layout-gt-xs="row">

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesGender"
                                           aria-label="{{'CREATE_STUDY.GENDER_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.GENDER' | translate}}
                                </md-switch>

                            </div>

                            <div flex-gt-xs="75" flex="100" ng-if="preferencesGender">

                                <md-radio-group ng-model="preferences.gender" layout-gt-xs="row">

                                    <md-radio-button value="female">{{'CREATE_STUDY.MALE' | translate}}
                                    </md-radio-button>
                                    <md-radio-button value="male">{{'CREATE_STUDY.FEMALE' | translate}}
                                    </md-radio-button>

                                </md-radio-group>

                            </div>

                        </div>

                    </div>

                    <div layout-gt-xs="row" class="mg-top-16">

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesHeight"
                                           aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.HEIGHT' | translate}}
                                </md-switch>

                            </div>

                            <md-slider-container ng-if="preferencesHeight" flex="75" flex-xs="100">
                                <span>in cm</span>
                                <md-slider flex min="0" max="220" ng-model="preferences.height"
                                           aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}"
                                           id="height-slider">
                                </md-slider>
                                <md-input-container>
                                    <input flex type="number" ng-model="preferences.height"
                                           aria-label="{{'CREATE_STUDY.HEIGHT_ARIA_LABEL' | translate}}"
                                           aria-controls="height-slider">
                                </md-input-container>
                            </md-slider-container>

                        </div>

                    </div>

                    <div layout-gt-xs="row">

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesVisualAid"
                                           aria-label="{{'CREATE_STUDY.VISUAL_AID_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.VISUAL_AID' | translate}}
                                </md-switch>

                            </div>

                            <div flex-gt-xs="75" flex="100" ng-if="preferencesVisualAid">

                                <div style="margin-top: 10px">

                                    <md-checkbox ng-model="preferences.glasses">
                                        {{'CREATE_STUDY.GLASSES' | translate}}
                                    </md-checkbox>
                                    <md-checkbox ng-model="preferences.contacts">
                                        {{'CREATE_STUDY.CONTACTS' | translate}}
                                    </md-checkbox>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div layout-gt-xs="row">

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesHand"
                                           aria-label="{{'CREATE_STUDY.HANDEDNESS_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.HANDEDNESS' | translate}}
                                </md-switch>

                            </div>

                            <div flex-gt-xs="75" flex="100" ng-if="preferencesHand">

                                <div style="margin-top: 10px">

                                    <md-radio-group ng-model="preferences.handedness" layout-gt-xs="row">

                                        <md-radio-button value="righty">{{'CREATE_STUDY.RIGHTY' | translate}}
                                        </md-radio-button>
                                        <md-radio-button value="lefty">{{'CREATE_STUDY.LEFTY' | translate}}
                                        </md-radio-button>

                                    </md-radio-group>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div layout-gt-xs="row">

                        <div layout-gt-xs="row" flex="100" layout-align="start center">

                            <div flex-gt-xs="25" flex="100">

                                <md-switch ng-model="preferencesSmartphone"
                                           aria-label="{{'CREATE_STUDY.SMARTPHONE_ARIA_LABEL' | translate}}">
                                    {{'CREATE_STUDY.SMARTPHONE' | translate}}
                                </md-switch>

                            </div>

                            <div flex-gt-xs="75" flex="100" ng-if="preferencesSmartphone">

                                <div style="margin-top: 10px">

                                    <md-checkbox ng-model="preferences.android">
                                        {{'CREATE_STUDY.ANDROID' | translate}}
                                    </md-checkbox>
                                    <md-checkbox ng-model="preferences.ios">
                                        {{'CREATE_STUDY.IOS' | translate}}
                                    </md-checkbox>
                                    <md-checkbox ng-model="preferences.windows">
                                        {{'CREATE_STUDY.WINDOWS' | translate}}
                                    </md-checkbox>

                                </div>

                            </div>

                        </div>

                    </div>

                </md-content>
                <!-- END requirements -->


        <!-- START submit -->
        <md-content class="md-padding">

            <div layout="row" layout-xs="column">

                <md-input-container>
                    <md-button
                            ng-show="editing"
                            ng-click="updateStudy()"
                            ng-disabled="createStudyForm.$invalid" class="md-accent md-raised">
                        {{'STUDY_DETAILS.UPDATE_STUDY_BUTTON' | translate}}
                    </md-button>
                    <md-button
                            ng-hide="editing"
                            ng-click="editStudy()"
                            ng-disabled="createStudyForm.$invalid" class="md-accent md-raised">
                        {{'STUDY_DETAILS.EDIT_STUDY' | translate}}
                    </md-button>
                </md-input-container>

            </div>

            <div layout="row" layout-xs="column" ng-if="createStudyForm.$invalid">
                <p>{{'CREATE_STUDY.REQUIRED_FIELDS' | translate}}</p>
            </div>

        </md-content>
        <!-- END submit -->

        <!-- END create study form -->


    </md-content>
    <!-- END create study form -->
</section>
