@import "../../stylesheets/main";

md-toolbar.toolbar {

  height: 8rem;

  h2 {
    margin-left: 0;
  }

  .md-toolbar-tools {
    font-size: 2rem;
    font-weight: 100;

    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .md-button.md-fab.md-fab-bottom-right {
    top: 5.75rem;
    right: 22%;
  }
}

form {

  .height-input{
    max-width: 100px;
  }

  .ng-hide{
    opacity: 0;
  }

  .ng-hide-add, .ng-hide-remove {
    transition: all linear 500ms;
  }

  @media (max-width: 600px) {
    md-autocomplete {
      position: inherit !important;
    }
  }

  md-autocomplete{
    position: absolute;
    min-width: 100%;
  }

  #edit {
    margin-left: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
  }

  #duration {
    margin-top: 3rem;
  }

  h2 + md-input-container {
    margin-top: 1.5rem;
  }


  md-checkbox {
    margin-right: 4rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

}