<link rel="stylesheet" href="views/user-preferences/user-preferences.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="UserPreferencesController as ctrl">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{'USER_PREFERENCES.TITLE' | translate}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START study preferences -->
    <md-content layout-padding flex-offset-gt-sm="20" flex-gt-sm="60" flex-offset-sm="100">
        <form name="userPreferencesForm" layout="column">

            <h2 class="md-headline">{{'USER_PREFERENCES.I_AM' | translate}}</h2>

            <div layout="row" layout-xs="column">

                <md-input-container flex-gt-xs="50" flex="100">
                    <md-checkbox flex-xs="100" ng-model="preferences.student" aria-label="Student">
                        {{'USER_PREFERENCES.STUDENT' | translate}}
                    </md-checkbox>
                </md-input-container>
                <div flex-gt-xs="50" flex="100">
                    <md-autocomplete ng-show="preferences.student" md-selected-item="ctrl.selectedItem"
                                     md-search-text="searchText"
                                     md-items="item in getMatches(searchText)" md-item-text="item" md-min-length="1"
                                     md-require-match="true" md-floating-label="{{'USER_PREFERENCES.I_STUDY' | translate}}" md-autoselect="true">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
                        </md-item-template>
                        <md-not-found>{{'USER_PREFERENCES.STUDY_NOT_EXIST' | translate}}</md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <md-divider></md-divider>


            <h2 class="md-headline">{{'USER_PREFERENCES.I_AM' | translate}}</h2>
            <md-radio-group layout="row" layout-xs="column" ng-model="preferences.gender">
                <md-radio-button flex-xs="100" value="male" aria-label="{{'USER_PREFERENCES.MALE' | translate}}">
                    {{'USER_PREFERENCES.MALE' | translate}}
                </md-radio-button>
                <md-radio-button flex-xs="100" value="female" aria-label="{{'USER_PREFERENCES.FEMALE' | translate}}">
                    {{'USER_PREFERENCES.FEMALE' | translate}}
                </md-radio-button>
            </md-radio-group>
            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.BORN' | translate}}</h2>


            <md-input-container flex-gt-xs="50" flex="100">
                <md-datepicker ng-model="preferences.birthDate" md-current-view="year" md-open-on-focus="true"
                               md-max-date="maxDate" md-min-date="minDate" aria-label="{{'USER_PREFERENCES.BIRTHDAY' | translate}}"></md-datepicker>
            </md-input-container>

            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.HEIGHT' | translate}}</h2>

            <md-input-container>
                <input class="height-input" type="number" md-no-asterisk ng-model="preferences.height"
                       placeholder="{{'USER_PREFERENCES.CM' | translate}}" md-select-on-focus>
            </md-input-container>
            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.OS' | translate}}</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.ios" aria-label="{{'USER_PREFERENCES.IOS' | translate}}">
                    {{'USER_PREFERENCES.IOS' | translate}}
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.android" aria-label="{{'USER_PREFERENCES.ANDROID' | translate}}">
                    {{'USER_PREFERENCES.ANDROID' | translate}}
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.other" aria-label="{{'USER_PREFERENCES.OTHER' | translate}}">
                    {{'USER_PREFERENCES.OTHER' | translate}}
                </md-checkbox>
            </md-input-container>
            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.I_WEAR' | translate}}</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.none" aria-label="{{'USER_PREFERENCES.NO_GLASSES' | translate}}">
                    {{'USER_PREFERENCES.NO_GLASSES' | translate}}
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.glasses" aria-label="{{'USER_PREFERENCES.GLASSES' | translate}}">
                    {{'USER_PREFERENCES.GLASSES' | translate}}
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.contactLenses" aria-label="{{'USER_PREFERENCES.CONTACTS' | translate}}">
                    {{'USER_PREFERENCES.CONTACTS' | translate}}
                </md-checkbox>
            </md-input-container>
            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.I_AM' | translate}}</h2>
            <md-radio-group layout="row" layout-xs="column" ng-model="preferences.handedness">
                <md-radio-button flex-xs="100" value="left" aria-label="{{'USER_PREFERENCES.LEFTY' | translate}}">
                    {{'USER_PREFERENCES.LEFTY' | translate}}
                </md-radio-button>
                <md-radio-button flex-xs="100" value="right" aria-label="{{'USER_PREFERENCES.RIGHTY' | translate}}">
                    {{'USER_PREFERENCES.RIGHTY' | translate}}
                </md-radio-button>
                <md-radio-button flex-xs="100" value="both" aria-label="{{'USER_PREFERENCES.BOTH' | translate}}">
                    {{'USER_PREFERENCES.BOTH' | translate}}
                </md-radio-button>
            </md-radio-group>
            <md-divider></md-divider>

            <h2 class="md-headline">{{'USER_PREFERENCES.I_SPEAK' | translate}}</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.language.german" aria-label="{{'USER_PREFERENCES.GERMAN' | translate}}">
                    {{'USER_PREFERENCES.GERMAN' | translate}}
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.language.english" aria-label="{{'USER_PREFERENCES.ENGLISH' | translate}}">
                    {{'USER_PREFERENCES.ENGLISH' | translate}}
                </md-checkbox>
            </md-input-container>
            <md-divider></md-divider>

            <md-input-container>
                <md-button href="#!/home" ng-click="savePreferences()" class="md-accent md-raised">Speichern</md-button>
            </md-input-container>

        </form>
    </md-content>
    <!-- END study preferences -->
</section>