<link rel="stylesheet" href="views/user-preferences/user-preferences.style.css">

<div ng-controller="NavigationController">
    <nav-bar></nav-bar>
</div>

<section ng-controller="UserPreferencesController">
    <!-- START tool bar -->
    <md-toolbar class="toolbar md-hue-1" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex-offset-gt-sm="15">
            <h2 class="md-display-3">
                <i class="material-icons">bubble_chart</i>
                {{title}}
            </h2>
        </div>
    </md-toolbar>
    <!-- END toolbar -->

    <!-- START study preferences -->
    <md-content flex-offset-gt-sm="20" flex-gt-sm="60" flex-offset-sm="100">
        <form name="userPreferencesForm" layout="column">

            <h2 class="md-headline">Das Betriebsystem meines Mobilgeräts ist ...</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.ios" aria-label="iOS">
                    iOS
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.android" aria-label="Android">
                    Android
                </md-checkbox>
                <!--<md-checkbox flex-xs="100" ng-model="preferences.operatingSystem.other" aria-label="Sonstiges">
                    sonstiges
                </md-checkbox>-->
            </md-input-container>
            <!--
            <h2 class="md-headline">Ich habe ...</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.none" aria-label="Keine Sehhilfe">
                    keine Sehhilfe
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.glasses" aria-label="Brille">
                    eine Brille
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.visualAid.contactLenses" aria-label="Kontaktlinsen">
                    Kontaktlinsen
                </md-checkbox>
            </md-input-container>
            <h2 class="md-headline">Ich bin ...</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.handedness.leftHanded" aria-label="Linksh&auml;nder">
                    Linksh&auml;nder
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.handedness.rightHanded" aria-label="Rechtsh&auml;nder">
                    Rechtsh&auml;nder
                </md-checkbox>
            </md-input-container>
            <h2 class="md-headline">Ich spreche ...</h2>
            <md-input-container layout="row" layout-xs="column">
                <md-checkbox flex-xs="100" ng-model="preferences.language.german" aria-label="Deutsch">
                    Deutsch
                </md-checkbox>
                <md-checkbox flex-xs="100" ng-model="preferences.language.english" aria-label="English">
                    Englisch
                </md-checkbox>
            </md-input-container>-->
            <md-input-container>
                <md-button ng-click="savePreferences()" class="md-accent md-raised">Speichern</md-button>
            </md-input-container>
        </form>
    </md-content>
    <!-- END study preferences -->
</section>